@charset "utf-8"; /*이 css 문서는 UTF-8 방식으로 인코딩되어 있습니다. */
@import url(default.css);
/* 본고딕 CDN 방식으로 사용할 때 폰트를 정의하는 font-face가 입력된 css를 
inport 불러다가 사용하는 방식을 많이 사용함
이 방식은 간단하지만 문제가 google이 서비스를 중단하면 사용 못함
font 파일을 저장해서 사용하는 방식을 씀*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

html, body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;  /* 글자크기 */
    color: #3D3D3D; /* 글자색상 */
    font-weight: 400; /* 글자의 두께 */
    line-height: 1.4; /* auto */
    word-break: keep-all;  /* 단어를 묶어서 줄바꿈 */
    }   
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280PX; /* 홈페이지 넓이 */
    margin: 0 auto; /* 가운데 정렬 */
}
#wrap { /* id="wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* PC형에서 wrapper사이즈보다 브라우저 넒이가 작을때 가로스크롤바가 생성되는데
    오른쪽에 background가 짤리는 현상이 생김
    가로스크롤바가 생성되었을때도 정상적으로 서비스 하기 위해서 최소 넓이를 입력*/
}

/* 640px 이하일때 스타일*/
@media screen and (max-width:640px){
    html, body {
        font-size: 13px;  /* 글자크기 */
        }   
    .wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
        width: auto; 
        /* 모바일에서는 홈페이지 넓이를 제한하면 안됨
        디바이스의 넓이에 맞춰서 꽉차게 구현되어야 하기 떄문에 */
        margin: 0 20px; 
        /* 안쪽으로 좌우 여백이 20px씩 들어가게 함 */
    }
    #wrap { /* id="wrap"에 적용되는 스타일 */
        min-width: auto;
        /* 최소 넓이 제한하지 않음*/
    }
} /* media*/

.header {
     /* fixed 브라우저 위치가 고정 - 스크롤을 내려도 안내려도 고정
     무조건 body랑만 정렬됨*/
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255,255, 0.2);
}
.header .logo {
    float: left;
    margin-top: 20px;
}
.header .logo a {
    display: block;
    width: 170px;
    height: 57px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    /* contain 영역의 넓이와 높이에 이미지가 안짤리고 꽉차게 나오게 함(로고)
       cover 배경이미지 꽉차게 */
    font-size: 0; /* 글자숨기기 */
    line-height: 0;
}
.header .gnb {
    float: left;
    margin: 0 0 0 210px; /* 가운데 배치 */
}
.header .gnb .gnb_open,
.header .gnb .gnb_close { /* pc버전에서는 숨김*/
    display: none;
}
.header .gnb ul.depth1 { /* 1차메뉴 */
    display: flex;

}
.header .gnb ul.depth1 > li  { /* 자식선택 - 1차메뉴의 li만*/
    width: 150px;
    text-align: center;
}
.header .gnb ul.depth1 > li > a {
    display: block; /* 꽉차게 들어가게, 넓이 100% */

    font-size: 22px;
    font-weight: 700;
}
.header .gnb ul.depth1 > li > a > span {
    position: relative; /* after 정렬의 기준*/
    line-height: 100px; 
    /* 글자를 위아래 중간에 위치 행간으로 적용
     a 에 적용시켜도 상관없지만 
     after의 bottom을 맨밑에 위치시키기 위해 a의 span에 행간지정 */
    display: inline-block; /* 블록해도 적용X > inline-block*/
    padding: 0 10px;
}
.header .gnb ul.depth1 > li:hover > a { 
    color: #009FE3;
}
.header .gnb ul.depth1 > li:hover > a > span::after {
    position: absolute;
    left: 0;
    bottom: 0; 
    /* 맨 밑에 위치시키기 위해 행간을 span에 주고 inline-block으로 적용시키거나
    행간 a에 적용시키고 bottom 수치로 조절해도 됨(브라우저마다 조금 오차 있을수 있음 */
    width: 100%;
    height: 4px;
    background-color: #009FE3;
    content: "";
    border-radius: 100px;
}
.header .gnb ul.depth2 { /* 2차메뉴 */
    margin-top: 13px; 
    display: none; /* 마우스를 오버해야 나타남으로 숨김처리 */
}
.header .gnb ul.depth2 > li > a { /* 자식선택 - 2차메뉴의 li a 만*/
    display: block; /* 넓이100% 글자 젤 긴거에 맞춰서 */
    font-weight: 400;
    line-height: 50px;
    color: #3d3d3d;
}
.header .gnb ul.depth2 > li > a:hover { 
    color: #009FE3;
    font-weight: 700;
}
.header .tnb {
    float: right;
    display: flex;
    margin-top: 35px;
}
.header .tnb .login,
.header .tnb .lang {
    width: 30px;
    height: 30px;
    display: block; /* a태그에 사이즈가 적용되도록 인라인>블럭태그로 변경*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 0;
    line-height: 0;
}
.header .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 17.8125C10.8125 17.8125 10.4427 17.6615 10.1406 17.3594C9.83851 17.0573 9.68747 16.6875 9.68747 16.25C9.68747 15.8125 9.83851 15.4427 10.1406 15.1406C10.4427 14.8385 10.8125 14.6875 11.25 14.6875C11.6875 14.6875 12.0573 14.8385 12.3593 15.1406C12.6614 15.4427 12.8125 15.8125 12.8125 16.25C12.8125 16.6875 12.6614 17.0573 12.3593 17.3594C12.0573 17.6615 11.6875 17.8125 11.25 17.8125ZM18.75 17.8125C18.3125 17.8125 17.9427 17.6615 17.6406 17.3594C17.3385 17.0573 17.1875 16.6875 17.1875 16.25C17.1875 15.8125 17.3385 15.4427 17.6406 15.1406C17.9427 14.8385 18.3125 14.6875 18.75 14.6875C19.1875 14.6875 19.5573 14.8385 19.8593 15.1406C20.1614 15.4427 20.3125 15.8125 20.3125 16.25C20.3125 16.6875 20.1614 17.0573 19.8593 17.3594C19.5573 17.6615 19.1875 17.8125 18.75 17.8125ZM15 25C17.7916 25 20.1562 24.0312 22.0937 22.0938C24.0312 20.1562 25 17.7917 25 15C25 14.5 24.9687 14.0156 24.9062 13.5469C24.8437 13.0781 24.7291 12.625 24.5625 12.1875C24.125 12.2917 23.6875 12.3698 23.25 12.4219C22.8125 12.474 22.3541 12.5 21.875 12.5C19.9791 12.5 18.1875 12.0938 16.5 11.2812C14.8125 10.4688 13.375 9.33333 12.1875 7.875C11.5208 9.5 10.5677 10.9115 9.32809 12.1094C8.08851 13.3073 6.6458 14.2083 4.99997 14.8125V15C4.99997 17.7917 5.96872 20.1562 7.90622 22.0938C9.84372 24.0312 12.2083 25 15 25ZM15.0021 26.875C13.3596 26.875 11.8159 26.5633 10.3707 25.94C8.9255 25.3166 7.6684 24.4707 6.59938 23.4022C5.53033 22.3336 4.68401 21.077 4.06041 19.6325C3.4368 18.188 3.125 16.6445 3.125 15.0021C3.125 13.3597 3.43667 11.8159 4.06 10.3707C4.68333 8.92553 5.52927 7.66843 6.59781 6.59941C7.66637 5.53037 8.92293 4.68404 10.3675 4.06044C11.812 3.43683 13.3555 3.12503 14.9979 3.12503C16.6403 3.12503 18.1841 3.4367 19.6293 4.06003C21.0744 4.68337 22.3315 5.5293 23.4006 6.59784C24.4696 7.66641 25.3159 8.92296 25.9395 10.3675C26.5631 11.812 26.8749 13.3555 26.8749 14.9979C26.8749 16.6403 26.5633 18.1841 25.9399 19.6293C25.3166 21.0745 24.4707 22.3316 23.4021 23.4006C22.3336 24.4696 21.077 25.316 19.6325 25.9396C18.1879 26.5632 16.6445 26.875 15.0021 26.875ZM12.7235 5.27644C13.6706 7.02327 14.9843 8.35142 16.6646 9.26088C18.3449 10.1703 20.0817 10.625 21.875 10.625C22.2147 10.625 22.5461 10.6074 22.869 10.5722C23.1919 10.5369 23.5192 10.4864 23.8509 10.4207C23.016 8.76205 21.8065 7.44393 20.2223 6.46634C18.6382 5.48878 16.8974 5 15 5C14.5801 5 14.1887 5.02363 13.8257 5.07091C13.4627 5.1182 13.0953 5.18671 12.7235 5.27644ZM5.35091 12.613C6.52559 12.0249 7.641 11.1655 8.69712 10.0349C9.75323 8.90428 10.4351 7.54889 10.7428 5.96872C9.37579 6.58893 8.22032 7.48037 7.27641 8.64303C6.33249 9.8057 5.69066 11.129 5.35091 12.613Z'/%3E%3C/svg%3E%0A");
    margin-right: 10px; /* 아이콘 사이의 여백 */
}
.header .tnb .lang {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 26.875C13.3718 26.875 11.8353 26.5629 10.3906 25.9387C8.94592 25.3145 7.6859 24.4647 6.61056 23.3894C5.53525 22.3141 4.6855 21.0541 4.06131 19.6093C3.4371 18.1647 3.125 16.6282 3.125 15C3.125 13.359 3.4371 11.8193 4.06131 10.381C4.6855 8.94274 5.53525 7.68593 6.61056 6.61059C7.6859 5.53528 8.94592 4.68553 10.3906 4.06134C11.8353 3.43714 13.3718 3.12503 15 3.12503C16.641 3.12503 18.1806 3.43714 19.6189 4.06134C21.0572 4.68553 22.314 5.53528 23.3894 6.61059C24.4647 7.68593 25.3144 8.94274 25.9386 10.381C26.5628 11.8193 26.8749 13.359 26.8749 15C26.8749 16.6282 26.5628 18.1647 25.9386 19.6093C25.3144 21.0541 24.4647 22.3141 23.3894 23.3894C22.314 24.4647 21.0572 25.3145 19.6189 25.9387C18.1806 26.5629 16.641 26.875 15 26.875ZM15 24.9736C15.6378 24.1274 16.1747 23.274 16.6106 22.4134C17.0465 21.5529 17.4014 20.6121 17.6755 19.5913H12.3245C12.6145 20.6442 12.9735 21.6009 13.4014 22.4615C13.8293 23.3221 14.3621 24.1595 15 24.9736ZM12.5793 24.6298C12.1002 23.9423 11.6699 23.1607 11.2885 22.2848C10.9071 21.409 10.6106 20.5112 10.399 19.5913H6.15859C6.81886 20.8894 7.70429 21.98 8.81487 22.863C9.92548 23.746 11.1803 24.335 12.5793 24.6298ZM17.4206 24.6298C18.8196 24.335 20.0745 23.746 21.1851 22.863C22.2956 21.98 23.1811 20.8894 23.8413 19.5913H19.6009C19.3493 20.5192 19.0328 21.4211 18.6514 22.2969C18.27 23.1727 17.8597 23.9503 17.4206 24.6298ZM5.37256 17.7164H10.0192C9.9407 17.2516 9.88381 16.7961 9.84856 16.3498C9.81331 15.9034 9.79569 15.4535 9.79569 15C9.79569 14.5465 9.81331 14.0966 9.84856 13.6502C9.88381 13.2039 9.9407 12.7484 10.0192 12.2836H5.37256C5.25238 12.7083 5.16023 13.1498 5.09612 13.6082C5.03202 14.0665 4.99997 14.5304 4.99997 15C4.99997 15.4696 5.03202 15.9335 5.09612 16.3918C5.16023 16.8502 5.25238 17.2917 5.37256 17.7164ZM11.8942 17.7164H18.1058C18.1843 17.2516 18.2412 16.8001 18.2764 16.3618C18.3117 15.9235 18.3293 15.4696 18.3293 15C18.3293 14.5304 18.3117 14.0765 18.2764 13.6382C18.2412 13.1999 18.1843 12.7484 18.1058 12.2836H11.8942C11.8157 12.7484 11.7588 13.1999 11.7235 13.6382C11.6883 14.0765 11.6706 14.5304 11.6706 15C11.6706 15.4696 11.6883 15.9235 11.7235 16.3618C11.7588 16.8001 11.8157 17.2516 11.8942 17.7164ZM19.9807 17.7164H24.6274C24.7476 17.2917 24.8397 16.8502 24.9038 16.3918C24.9679 15.9335 25 15.4696 25 15C25 14.5304 24.9679 14.0665 24.9038 13.6082C24.8397 13.1498 24.7476 12.7083 24.6274 12.2836H19.9807C20.0592 12.7484 20.1161 13.2039 20.1514 13.6502C20.1866 14.0966 20.2043 14.5465 20.2043 15C20.2043 15.4535 20.1866 15.9034 20.1514 16.3498C20.1161 16.7961 20.0592 17.2516 19.9807 17.7164ZM19.6009 10.4087H23.8413C23.1731 9.09456 22.2936 8.004 21.2031 7.137C20.1125 6.27002 18.8517 5.67707 17.4206 5.35816C17.8998 6.08572 18.326 6.8814 18.6994 7.74519C19.0729 8.60898 19.3733 9.49681 19.6009 10.4087ZM12.3245 10.4087H17.6755C17.3854 9.36381 17.0204 8.40106 16.5805 7.52044C16.1406 6.63983 15.6138 5.8085 15 5.02644C14.3862 5.8085 13.8593 6.63983 13.4194 7.52044C12.9795 8.40106 12.6145 9.36381 12.3245 10.4087ZM6.15859 10.4087H10.399C10.6266 9.49681 10.9271 8.60898 11.3005 7.74519C11.6739 6.8814 12.1002 6.08572 12.5793 5.35816C11.1402 5.67707 9.87741 6.27203 8.79084 7.14303C7.7043 8.01403 6.82689 9.10258 6.15859 10.4087Z' /%3E%3C/svg%3E%0A");
}
/* 스크롤을 내려서 header가 상단에 고정되었을 때*/
.header.fixed {
    background-color: rgb(255, 255, 255, 0.9);
    color: #1d1d1d;
    border-bottom: 0; /* 선색 변경해도 되고 없애도 상관없음*/
}
.header.fixed .logo a {
    background-image: url(../images/logo_c.svg);
}
.header.fixed .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='%233d3d3d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 17.8125C10.8125 17.8125 10.4427 17.6615 10.1406 17.3594C9.83851 17.0573 9.68747 16.6875 9.68747 16.25C9.68747 15.8125 9.83851 15.4427 10.1406 15.1406C10.4427 14.8385 10.8125 14.6875 11.25 14.6875C11.6875 14.6875 12.0573 14.8385 12.3593 15.1406C12.6614 15.4427 12.8125 15.8125 12.8125 16.25C12.8125 16.6875 12.6614 17.0573 12.3593 17.3594C12.0573 17.6615 11.6875 17.8125 11.25 17.8125ZM18.75 17.8125C18.3125 17.8125 17.9427 17.6615 17.6406 17.3594C17.3385 17.0573 17.1875 16.6875 17.1875 16.25C17.1875 15.8125 17.3385 15.4427 17.6406 15.1406C17.9427 14.8385 18.3125 14.6875 18.75 14.6875C19.1875 14.6875 19.5573 14.8385 19.8593 15.1406C20.1614 15.4427 20.3125 15.8125 20.3125 16.25C20.3125 16.6875 20.1614 17.0573 19.8593 17.3594C19.5573 17.6615 19.1875 17.8125 18.75 17.8125ZM15 25C17.7916 25 20.1562 24.0312 22.0937 22.0938C24.0312 20.1562 25 17.7917 25 15C25 14.5 24.9687 14.0156 24.9062 13.5469C24.8437 13.0781 24.7291 12.625 24.5625 12.1875C24.125 12.2917 23.6875 12.3698 23.25 12.4219C22.8125 12.474 22.3541 12.5 21.875 12.5C19.9791 12.5 18.1875 12.0938 16.5 11.2812C14.8125 10.4688 13.375 9.33333 12.1875 7.875C11.5208 9.5 10.5677 10.9115 9.32809 12.1094C8.08851 13.3073 6.6458 14.2083 4.99997 14.8125V15C4.99997 17.7917 5.96872 20.1562 7.90622 22.0938C9.84372 24.0312 12.2083 25 15 25ZM15.0021 26.875C13.3596 26.875 11.8159 26.5633 10.3707 25.94C8.9255 25.3166 7.6684 24.4707 6.59938 23.4022C5.53033 22.3336 4.68401 21.077 4.06041 19.6325C3.4368 18.188 3.125 16.6445 3.125 15.0021C3.125 13.3597 3.43667 11.8159 4.06 10.3707C4.68333 8.92553 5.52927 7.66843 6.59781 6.59941C7.66637 5.53037 8.92293 4.68404 10.3675 4.06044C11.812 3.43683 13.3555 3.12503 14.9979 3.12503C16.6403 3.12503 18.1841 3.4367 19.6293 4.06003C21.0744 4.68337 22.3315 5.5293 23.4006 6.59784C24.4696 7.66641 25.3159 8.92296 25.9395 10.3675C26.5631 11.812 26.8749 13.3555 26.8749 14.9979C26.8749 16.6403 26.5633 18.1841 25.9399 19.6293C25.3166 21.0745 24.4707 22.3316 23.4021 23.4006C22.3336 24.4696 21.077 25.316 19.6325 25.9396C18.1879 26.5632 16.6445 26.875 15.0021 26.875ZM12.7235 5.27644C13.6706 7.02327 14.9843 8.35142 16.6646 9.26088C18.3449 10.1703 20.0817 10.625 21.875 10.625C22.2147 10.625 22.5461 10.6074 22.869 10.5722C23.1919 10.5369 23.5192 10.4864 23.8509 10.4207C23.016 8.76205 21.8065 7.44393 20.2223 6.46634C18.6382 5.48878 16.8974 5 15 5C14.5801 5 14.1887 5.02363 13.8257 5.07091C13.4627 5.1182 13.0953 5.18671 12.7235 5.27644ZM5.35091 12.613C6.52559 12.0249 7.641 11.1655 8.69712 10.0349C9.75323 8.90428 10.4351 7.54889 10.7428 5.96872C9.37579 6.58893 8.22032 7.48037 7.27641 8.64303C6.33249 9.8057 5.69066 11.129 5.35091 12.613Z'/%3E%3C/svg%3E%0A");
    margin-right: 10px; /* 아이콘 사이의 여백 */
}
.header.fixed .tnb .lang {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='%233d3d3d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 26.875C13.3718 26.875 11.8353 26.5629 10.3906 25.9387C8.94592 25.3145 7.6859 24.4647 6.61056 23.3894C5.53525 22.3141 4.6855 21.0541 4.06131 19.6093C3.4371 18.1647 3.125 16.6282 3.125 15C3.125 13.359 3.4371 11.8193 4.06131 10.381C4.6855 8.94274 5.53525 7.68593 6.61056 6.61059C7.6859 5.53528 8.94592 4.68553 10.3906 4.06134C11.8353 3.43714 13.3718 3.12503 15 3.12503C16.641 3.12503 18.1806 3.43714 19.6189 4.06134C21.0572 4.68553 22.314 5.53528 23.3894 6.61059C24.4647 7.68593 25.3144 8.94274 25.9386 10.381C26.5628 11.8193 26.8749 13.359 26.8749 15C26.8749 16.6282 26.5628 18.1647 25.9386 19.6093C25.3144 21.0541 24.4647 22.3141 23.3894 23.3894C22.314 24.4647 21.0572 25.3145 19.6189 25.9387C18.1806 26.5629 16.641 26.875 15 26.875ZM15 24.9736C15.6378 24.1274 16.1747 23.274 16.6106 22.4134C17.0465 21.5529 17.4014 20.6121 17.6755 19.5913H12.3245C12.6145 20.6442 12.9735 21.6009 13.4014 22.4615C13.8293 23.3221 14.3621 24.1595 15 24.9736ZM12.5793 24.6298C12.1002 23.9423 11.6699 23.1607 11.2885 22.2848C10.9071 21.409 10.6106 20.5112 10.399 19.5913H6.15859C6.81886 20.8894 7.70429 21.98 8.81487 22.863C9.92548 23.746 11.1803 24.335 12.5793 24.6298ZM17.4206 24.6298C18.8196 24.335 20.0745 23.746 21.1851 22.863C22.2956 21.98 23.1811 20.8894 23.8413 19.5913H19.6009C19.3493 20.5192 19.0328 21.4211 18.6514 22.2969C18.27 23.1727 17.8597 23.9503 17.4206 24.6298ZM5.37256 17.7164H10.0192C9.9407 17.2516 9.88381 16.7961 9.84856 16.3498C9.81331 15.9034 9.79569 15.4535 9.79569 15C9.79569 14.5465 9.81331 14.0966 9.84856 13.6502C9.88381 13.2039 9.9407 12.7484 10.0192 12.2836H5.37256C5.25238 12.7083 5.16023 13.1498 5.09612 13.6082C5.03202 14.0665 4.99997 14.5304 4.99997 15C4.99997 15.4696 5.03202 15.9335 5.09612 16.3918C5.16023 16.8502 5.25238 17.2917 5.37256 17.7164ZM11.8942 17.7164H18.1058C18.1843 17.2516 18.2412 16.8001 18.2764 16.3618C18.3117 15.9235 18.3293 15.4696 18.3293 15C18.3293 14.5304 18.3117 14.0765 18.2764 13.6382C18.2412 13.1999 18.1843 12.7484 18.1058 12.2836H11.8942C11.8157 12.7484 11.7588 13.1999 11.7235 13.6382C11.6883 14.0765 11.6706 14.5304 11.6706 15C11.6706 15.4696 11.6883 15.9235 11.7235 16.3618C11.7588 16.8001 11.8157 17.2516 11.8942 17.7164ZM19.9807 17.7164H24.6274C24.7476 17.2917 24.8397 16.8502 24.9038 16.3918C24.9679 15.9335 25 15.4696 25 15C25 14.5304 24.9679 14.0665 24.9038 13.6082C24.8397 13.1498 24.7476 12.7083 24.6274 12.2836H19.9807C20.0592 12.7484 20.1161 13.2039 20.1514 13.6502C20.1866 14.0966 20.2043 14.5465 20.2043 15C20.2043 15.4535 20.1866 15.9034 20.1514 16.3498C20.1161 16.7961 20.0592 17.2516 19.9807 17.7164ZM19.6009 10.4087H23.8413C23.1731 9.09456 22.2936 8.004 21.2031 7.137C20.1125 6.27002 18.8517 5.67707 17.4206 5.35816C17.8998 6.08572 18.326 6.8814 18.6994 7.74519C19.0729 8.60898 19.3733 9.49681 19.6009 10.4087ZM12.3245 10.4087H17.6755C17.3854 9.36381 17.0204 8.40106 16.5805 7.52044C16.1406 6.63983 15.6138 5.8085 15 5.02644C14.3862 5.8085 13.8593 6.63983 13.4194 7.52044C12.9795 8.40106 12.6145 9.36381 12.3245 10.4087ZM6.15859 10.4087H10.399C10.6266 9.49681 10.9271 8.60898 11.3005 7.74519C11.6739 6.8814 12.1002 6.08572 12.5793 5.35816C11.1402 5.67707 9.87741 6.27203 8.79084 7.14303C7.7043 8.01403 6.82689 9.10258 6.15859 10.4087Z'/%3E%3C/svg%3E%0A");
}
/* pc버전에서 메뉴에 마우스를 오버했을때*/
.header.menu_over {
    color: #1d1d1d;
}
.header.menu_over::after { /* 흰색 배경 */
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; 
    /* after은 position값을 가지고 있어 맨위에 위치함 -1 값 부여해서 밑으로 배치  
    정렬의 기준면에서 가장 아래 - 기준 : header */
    width: 100%;
    height: 430px;
    background-color: #fff;
    content: "";
}
.header.menu_over::before { 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 66, 137, 0.2);
}
.header.menu_over .logo a {
    background-image: url(../images/logo_c.svg);
}
.header.menu_over .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='%233d3d3d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 17.8125C10.8125 17.8125 10.4427 17.6615 10.1406 17.3594C9.83851 17.0573 9.68747 16.6875 9.68747 16.25C9.68747 15.8125 9.83851 15.4427 10.1406 15.1406C10.4427 14.8385 10.8125 14.6875 11.25 14.6875C11.6875 14.6875 12.0573 14.8385 12.3593 15.1406C12.6614 15.4427 12.8125 15.8125 12.8125 16.25C12.8125 16.6875 12.6614 17.0573 12.3593 17.3594C12.0573 17.6615 11.6875 17.8125 11.25 17.8125ZM18.75 17.8125C18.3125 17.8125 17.9427 17.6615 17.6406 17.3594C17.3385 17.0573 17.1875 16.6875 17.1875 16.25C17.1875 15.8125 17.3385 15.4427 17.6406 15.1406C17.9427 14.8385 18.3125 14.6875 18.75 14.6875C19.1875 14.6875 19.5573 14.8385 19.8593 15.1406C20.1614 15.4427 20.3125 15.8125 20.3125 16.25C20.3125 16.6875 20.1614 17.0573 19.8593 17.3594C19.5573 17.6615 19.1875 17.8125 18.75 17.8125ZM15 25C17.7916 25 20.1562 24.0312 22.0937 22.0938C24.0312 20.1562 25 17.7917 25 15C25 14.5 24.9687 14.0156 24.9062 13.5469C24.8437 13.0781 24.7291 12.625 24.5625 12.1875C24.125 12.2917 23.6875 12.3698 23.25 12.4219C22.8125 12.474 22.3541 12.5 21.875 12.5C19.9791 12.5 18.1875 12.0938 16.5 11.2812C14.8125 10.4688 13.375 9.33333 12.1875 7.875C11.5208 9.5 10.5677 10.9115 9.32809 12.1094C8.08851 13.3073 6.6458 14.2083 4.99997 14.8125V15C4.99997 17.7917 5.96872 20.1562 7.90622 22.0938C9.84372 24.0312 12.2083 25 15 25ZM15.0021 26.875C13.3596 26.875 11.8159 26.5633 10.3707 25.94C8.9255 25.3166 7.6684 24.4707 6.59938 23.4022C5.53033 22.3336 4.68401 21.077 4.06041 19.6325C3.4368 18.188 3.125 16.6445 3.125 15.0021C3.125 13.3597 3.43667 11.8159 4.06 10.3707C4.68333 8.92553 5.52927 7.66843 6.59781 6.59941C7.66637 5.53037 8.92293 4.68404 10.3675 4.06044C11.812 3.43683 13.3555 3.12503 14.9979 3.12503C16.6403 3.12503 18.1841 3.4367 19.6293 4.06003C21.0744 4.68337 22.3315 5.5293 23.4006 6.59784C24.4696 7.66641 25.3159 8.92296 25.9395 10.3675C26.5631 11.812 26.8749 13.3555 26.8749 14.9979C26.8749 16.6403 26.5633 18.1841 25.9399 19.6293C25.3166 21.0745 24.4707 22.3316 23.4021 23.4006C22.3336 24.4696 21.077 25.316 19.6325 25.9396C18.1879 26.5632 16.6445 26.875 15.0021 26.875ZM12.7235 5.27644C13.6706 7.02327 14.9843 8.35142 16.6646 9.26088C18.3449 10.1703 20.0817 10.625 21.875 10.625C22.2147 10.625 22.5461 10.6074 22.869 10.5722C23.1919 10.5369 23.5192 10.4864 23.8509 10.4207C23.016 8.76205 21.8065 7.44393 20.2223 6.46634C18.6382 5.48878 16.8974 5 15 5C14.5801 5 14.1887 5.02363 13.8257 5.07091C13.4627 5.1182 13.0953 5.18671 12.7235 5.27644ZM5.35091 12.613C6.52559 12.0249 7.641 11.1655 8.69712 10.0349C9.75323 8.90428 10.4351 7.54889 10.7428 5.96872C9.37579 6.58893 8.22032 7.48037 7.27641 8.64303C6.33249 9.8057 5.69066 11.129 5.35091 12.613Z'/%3E%3C/svg%3E%0A");
    margin-right: 10px; /* 아이콘 사이의 여백 */
}
.header.menu_over .tnb .lang {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='%233d3d3d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 26.875C13.3718 26.875 11.8353 26.5629 10.3906 25.9387C8.94592 25.3145 7.6859 24.4647 6.61056 23.3894C5.53525 22.3141 4.6855 21.0541 4.06131 19.6093C3.4371 18.1647 3.125 16.6282 3.125 15C3.125 13.359 3.4371 11.8193 4.06131 10.381C4.6855 8.94274 5.53525 7.68593 6.61056 6.61059C7.6859 5.53528 8.94592 4.68553 10.3906 4.06134C11.8353 3.43714 13.3718 3.12503 15 3.12503C16.641 3.12503 18.1806 3.43714 19.6189 4.06134C21.0572 4.68553 22.314 5.53528 23.3894 6.61059C24.4647 7.68593 25.3144 8.94274 25.9386 10.381C26.5628 11.8193 26.8749 13.359 26.8749 15C26.8749 16.6282 26.5628 18.1647 25.9386 19.6093C25.3144 21.0541 24.4647 22.3141 23.3894 23.3894C22.314 24.4647 21.0572 25.3145 19.6189 25.9387C18.1806 26.5629 16.641 26.875 15 26.875ZM15 24.9736C15.6378 24.1274 16.1747 23.274 16.6106 22.4134C17.0465 21.5529 17.4014 20.6121 17.6755 19.5913H12.3245C12.6145 20.6442 12.9735 21.6009 13.4014 22.4615C13.8293 23.3221 14.3621 24.1595 15 24.9736ZM12.5793 24.6298C12.1002 23.9423 11.6699 23.1607 11.2885 22.2848C10.9071 21.409 10.6106 20.5112 10.399 19.5913H6.15859C6.81886 20.8894 7.70429 21.98 8.81487 22.863C9.92548 23.746 11.1803 24.335 12.5793 24.6298ZM17.4206 24.6298C18.8196 24.335 20.0745 23.746 21.1851 22.863C22.2956 21.98 23.1811 20.8894 23.8413 19.5913H19.6009C19.3493 20.5192 19.0328 21.4211 18.6514 22.2969C18.27 23.1727 17.8597 23.9503 17.4206 24.6298ZM5.37256 17.7164H10.0192C9.9407 17.2516 9.88381 16.7961 9.84856 16.3498C9.81331 15.9034 9.79569 15.4535 9.79569 15C9.79569 14.5465 9.81331 14.0966 9.84856 13.6502C9.88381 13.2039 9.9407 12.7484 10.0192 12.2836H5.37256C5.25238 12.7083 5.16023 13.1498 5.09612 13.6082C5.03202 14.0665 4.99997 14.5304 4.99997 15C4.99997 15.4696 5.03202 15.9335 5.09612 16.3918C5.16023 16.8502 5.25238 17.2917 5.37256 17.7164ZM11.8942 17.7164H18.1058C18.1843 17.2516 18.2412 16.8001 18.2764 16.3618C18.3117 15.9235 18.3293 15.4696 18.3293 15C18.3293 14.5304 18.3117 14.0765 18.2764 13.6382C18.2412 13.1999 18.1843 12.7484 18.1058 12.2836H11.8942C11.8157 12.7484 11.7588 13.1999 11.7235 13.6382C11.6883 14.0765 11.6706 14.5304 11.6706 15C11.6706 15.4696 11.6883 15.9235 11.7235 16.3618C11.7588 16.8001 11.8157 17.2516 11.8942 17.7164ZM19.9807 17.7164H24.6274C24.7476 17.2917 24.8397 16.8502 24.9038 16.3918C24.9679 15.9335 25 15.4696 25 15C25 14.5304 24.9679 14.0665 24.9038 13.6082C24.8397 13.1498 24.7476 12.7083 24.6274 12.2836H19.9807C20.0592 12.7484 20.1161 13.2039 20.1514 13.6502C20.1866 14.0966 20.2043 14.5465 20.2043 15C20.2043 15.4535 20.1866 15.9034 20.1514 16.3498C20.1161 16.7961 20.0592 17.2516 19.9807 17.7164ZM19.6009 10.4087H23.8413C23.1731 9.09456 22.2936 8.004 21.2031 7.137C20.1125 6.27002 18.8517 5.67707 17.4206 5.35816C17.8998 6.08572 18.326 6.8814 18.6994 7.74519C19.0729 8.60898 19.3733 9.49681 19.6009 10.4087ZM12.3245 10.4087H17.6755C17.3854 9.36381 17.0204 8.40106 16.5805 7.52044C16.1406 6.63983 15.6138 5.8085 15 5.02644C14.3862 5.8085 13.8593 6.63983 13.4194 7.52044C12.9795 8.40106 12.6145 9.36381 12.3245 10.4087ZM6.15859 10.4087H10.399C10.6266 9.49681 10.9271 8.60898 11.3005 7.74519C11.6739 6.8814 12.1002 6.08572 12.5793 5.35816C11.1402 5.67707 9.87741 6.27203 8.79084 7.14303C7.7043 8.01403 6.82689 9.10258 6.15859 10.4087Z'/%3E%3C/svg%3E%0A");
}
.header.menu_over .gnb ul.depth2 { /* 2차메뉴 마우스 오버하면 나타나야 함 */
    display: block; /* 숨김처리한거 나타나게  */
}
@media screen and (max-width:640px){ 
    .header {
        height: 50px;
   }
   .header .logo {
        margin-top: 11px;
   }
   .header .logo a {
        width: 81px;
        height: 27px;
   }
   .header .gnb {
        float: right;
        margin: 0; /* 여백 삭제*/
   }
   .header .gnb .gnb_open{
        display: block; /* pc버전에서 숨김처리한거 취소*/
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 18C3.71667 18 3.47917 17.9042 3.2875 17.7125C3.09583 17.5208 3 17.2833 3 17C3 16.7167 3.09583 16.4792 3.2875 16.2875C3.47917 16.0958 3.71667 16 4 16H20C20.2833 16 20.5208 16.0958 20.7125 16.2875C20.9042 16.4792 21 16.7167 21 17C21 17.2833 20.9042 17.5208 20.7125 17.7125C20.5208 17.9042 20.2833 18 20 18H4ZM4 13C3.71667 13 3.47917 12.9042 3.2875 12.7125C3.09583 12.5208 3 12.2833 3 12C3 11.7167 3.09583 11.4792 3.2875 11.2875C3.47917 11.0958 3.71667 11 4 11H20C20.2833 11 20.5208 11.0958 20.7125 11.2875C20.9042 11.4792 21 11.7167 21 12C21 12.2833 20.9042 12.5208 20.7125 12.7125C20.5208 12.9042 20.2833 13 20 13H4ZM4 8C3.71667 8 3.47917 7.90417 3.2875 7.7125C3.09583 7.52083 3 7.28333 3 7C3 6.71667 3.09583 6.47917 3.2875 6.2875C3.47917 6.09583 3.71667 6 4 6H20C20.2833 6 20.5208 6.09583 20.7125 6.2875C20.9042 6.47917 21 6.71667 21 7C21 7.28333 20.9042 7.52083 20.7125 7.7125C20.5208 7.90417 20.2833 8 20 8H4Z'/%3E%3C/svg%3E%0A");
   }
   .header .gnb .gnb_open,
   .header .gnb .gnb_close { 
        position: absolute; /* header을 기준으로 정렬*/
        right: 0; /* 여백 없이 끝에 위치시키기 위해 */
        top: 0;    
        width: 60px; /* 눌리는 영역 */
        height: 50px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 24px auto; /* 아이콘 사이즈로 지정, contain하면 a사이즈만큼 커짐 */
        font-size: 0;
        line-height: 0;
   }
   .header.fixed .gnb .gnb_open {  /* 스크롤 내렸을때 아이콘 색상 변경 */
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%233d3d3d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 18C3.71667 18 3.47917 17.9042 3.2875 17.7125C3.09583 17.5208 3 17.2833 3 17C3 16.7167 3.09583 16.4792 3.2875 16.2875C3.47917 16.0958 3.71667 16 4 16H20C20.2833 16 20.5208 16.0958 20.7125 16.2875C20.9042 16.4792 21 16.7167 21 17C21 17.2833 20.9042 17.5208 20.7125 17.7125C20.5208 17.9042 20.2833 18 20 18H4ZM4 13C3.71667 13 3.47917 12.9042 3.2875 12.7125C3.09583 12.5208 3 12.2833 3 12C3 11.7167 3.09583 11.4792 3.2875 11.2875C3.47917 11.0958 3.71667 11 4 11H20C20.2833 11 20.5208 11.0958 20.7125 11.2875C20.9042 11.4792 21 11.7167 21 12C21 12.2833 20.9042 12.5208 20.7125 12.7125C20.5208 12.9042 20.2833 13 20 13H4ZM4 8C3.71667 8 3.47917 7.90417 3.2875 7.7125C3.09583 7.52083 3 7.28333 3 7C3 6.71667 3.09583 6.47917 3.2875 6.2875C3.47917 6.09583 3.71667 6 4 6H20C20.2833 6 20.5208 6.09583 20.7125 6.2875C20.9042 6.47917 21 6.71667 21 7C21 7.28333 20.9042 7.52083 20.7125 7.7125C20.5208 7.90417 20.2833 8 20 8H4Z'/%3E%3C/svg%3E%0A");
   }
   /* 모바일에서 메뉴가 열렸을때 */
   .header.menu_open .gnb .gnb_open {
        display: none; /* 열기은 숨김처리 */
   }
   .header.menu_open .gnb .gnb_close {
        display: block; /* 닫기아이콘은 나타남*/
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%233d3d3d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9998 13.3998L7.0998 18.2998C6.91647 18.4831 6.68314 18.5748 6.3998 18.5748C6.11647 18.5748 5.88314 18.4831 5.6998 18.2998C5.51647 18.1165 5.4248 17.8831 5.4248 17.5998C5.4248 17.3165 5.51647 17.0831 5.6998 16.8998L10.5998 11.9998L5.6998 7.0998C5.51647 6.91647 5.4248 6.68314 5.4248 6.3998C5.4248 6.11647 5.51647 5.88314 5.6998 5.6998C5.88314 5.51647 6.11647 5.4248 6.3998 5.4248C6.68314 5.4248 6.91647 5.51647 7.0998 5.6998L11.9998 10.5998L16.8998 5.6998C17.0831 5.51647 17.3165 5.4248 17.5998 5.4248C17.8831 5.4248 18.1165 5.51647 18.2998 5.6998C18.4831 5.88314 18.5748 6.11647 18.5748 6.3998C18.5748 6.68314 18.4831 6.91647 18.2998 7.0998L13.3998 11.9998L18.2998 16.8998C18.4831 17.0831 18.5748 17.3165 18.5748 17.5998C18.5748 17.8831 18.4831 18.1165 18.2998 18.2998C18.1165 18.4831 17.8831 18.5748 17.5998 18.5748C17.3165 18.5748 17.0831 18.4831 16.8998 18.2998L11.9998 13.3998Z'/%3E%3C/svg%3E%0A");
   }
   .header.menu_open .gnb .gnb_wrap { 
    /* 모바일 메뉴 열렸을때 흰색 배경을 주기 위해 .gnb_wrap로 묶어줌 / */
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh; 
        background-color: #fff;
   }
   .header .gnb ul.depth1 { /* 1차메뉴 */
        display: none; /* 메뉴는 클릭해야 보임> 숨김처리 */
   }
   .header.menu_open .gnb ul.depth1 {
        display: block;
        color: #1d1d1d;
        overflow-y: scroll;
        /* 디바이스 높이보다 메뉴가 길어지면 스크롤 되어야 함 
        조건
        1. 메뉴를 감싸고 있는 요소(ul 또는 ul을 감싸는 요소 즉 .gnb_wrap)
        2. 높이가 내가 스크롤을 허용할 영역만큼 
           높이(padding까지 포함)를 가질 수 있어야 함(.gnb_wrap 안됨)
        > .gnb ul.depth1 에 scroll 선언 */
        margin-top: 50px;
        height: calc(100vh - 50px); 
        /* 전체 화면에서 상단 여백만큼 빼줘야지 위에 여백 두고 스크롤됨*/
   }
   .header .gnb ul.depth1 > li  { /* 자식선택 - 1차메뉴의 li만*/
        width: auto; /* 넓이 해제 */
        text-align: left;
        border-bottom: 1px solid #ededed; 
       /* 선이 안쪽으로 여백있게 하려면 좌우 여백을 a 말고
       ul.depth1 에 margin으로 줘야함 */ 
   }
   .header .gnb ul.depth1 > li:first-child {
        border-top: 1px solid rgba(0, 66, 137, 0.2); 
   }
   .header .gnb ul.depth1 > li > a {
        line-height: 60px;    
        font-size: 20px;
        padding: 0 20px;
        position: relative; /* after의 기준*/
   }
   .header .gnb ul.depth1 > li > a::after {
        position: absolute;
        right: 18px;
        top: 18px;
        width: 24px;
        height: 24px;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%233d3d3d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9998 14.9499C11.8665 14.9499 11.7415 14.9291 11.6248 14.8874C11.5081 14.8457 11.3998 14.7749 11.2998 14.6749L6.6998 10.0749C6.51647 9.89157 6.4248 9.65824 6.4248 9.3749C6.4248 9.09157 6.51647 8.85824 6.6998 8.6749C6.88314 8.49157 7.11647 8.3999 7.3998 8.3999C7.68314 8.3999 7.91647 8.49157 8.0998 8.6749L11.9998 12.5749L15.8998 8.6749C16.0831 8.49157 16.3165 8.3999 16.5998 8.3999C16.8831 8.3999 17.1165 8.49157 17.2998 8.6749C17.4831 8.85824 17.5748 9.09157 17.5748 9.3749C17.5748 9.65824 17.4831 9.89157 17.2998 10.0749L12.6998 14.6749C12.5998 14.7749 12.4915 14.8457 12.3748 14.8874C12.2581 14.9291 12.1331 14.9499 11.9998 14.9499Z'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    .header .gnb ul.depth1 > li.sub_open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%233d3d3d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0002 9.0501C12.1335 9.0501 12.2585 9.07093 12.3752 9.1126C12.4919 9.15426 12.6002 9.2251 12.7002 9.3251L17.3002 13.9251C17.4835 14.1084 17.5752 14.3418 17.5752 14.6251C17.5752 14.9084 17.4835 15.1418 17.3002 15.3251C17.1169 15.5084 16.8835 15.6001 16.6002 15.6001C16.3169 15.6001 16.0835 15.5084 15.9002 15.3251L12.0002 11.4251L8.1002 15.3251C7.91686 15.5084 7.68353 15.6001 7.4002 15.6001C7.11686 15.6001 6.88353 15.5084 6.7002 15.3251C6.51686 15.1418 6.4252 14.9084 6.4252 14.6251C6.4252 14.3418 6.51686 14.1084 6.7002 13.9251L11.3002 9.3251C11.4002 9.2251 11.5085 9.15426 11.6252 9.1126C11.7419 9.07093 11.8669 9.0501 12.0002 9.0501Z'/%3E%3C/svg%3E%0A");
    }
   .header .gnb ul.depth1 > li > a > span {
        line-height: 60px; 
        padding: 0;
   }
   .header .gnb ul.depth1 > li:hover > a { 
        color: inherit; /* 원래 색으로 */
    }
    .header .gnb ul.depth1 > li:hover > a > span::after {
        display: none; /* 선 숨기기*/
    }
   .header .gnb ul.depth2 { /* 2차메뉴 */
        margin: 0 20px;
        padding: 20px 30px 20px 30px;
        background-color: rgba(0, 159,277, 0.1);
   }
   .header .gnb .sub_open ul.depth2 {
        display: block;
   }
   .header .gnb ul.depth2 > li > a { /* 자식선택 - 2차메뉴의 li a 만*/
        line-height: 30px;
 
   }
   .header .gnb ul.depth2 > li > a:hover { 
        color: #009FE3;
        font-weight: 700;
   }
   .header .tnb {
        display: none; /*pc에서만 보임 숨김처리 */
   }
} /* media*/

.visual {
    /* background 사이즈 조절
     cover 영역에 이미지가 꽉차게 - 이미지 일부가 짤리고 배경은 꽉참 - 배경이미지
     cotain 영역에 이미지가 꽉차게 - 이미지는 안짤리고 배경이 일부가 빔 - 배경에 로고가 들어간 경우*/
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #Fff;
    text-align: center;
    /* position: relative; 팝업모바일에서 글자 벗어나면 기준 visual로 설정해야됨 */
}
/* visual의 높이가 브라우저 높이에 따라서 바뀜 
    그래서 h2태그가 위에서 부터의 여백이 그떄그때 달라짐 
    > 고정값으로 줄 수가 없음
    사이즈가 변경될때 가운데는 바뀌지 않음 
    h2 태그는 원래 디자인 자체가 visual 영역에 위아래 가운데 디자인
    코딩도 위아래 가운데를 기준으로 여백을 줘야함 */
.visual .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    text-align: center;
    transform: translate(-50%, -50%);
}

.visual h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.05em;
}
.visual p {
    font-size: 20px;
    margin-top: 23px;
}
.visual .swiper {height: 100vh;} /* 팝업의 높이*/
.visual .swiper-slide img { display:block; width:100%; height:100%; object-fit:cover; }

@media screen and (max-width:640px){
    .visual .inner {
        height: 400px;
        min-height: auto; /* 높이값 줬다가 취소*/
    }
    .visual h2 {
        font-size: 25px;
        margin-top: 0px;
    }
    .visual h2 span {
        display: block;
    } /* 모바일에서만 줄바꿈 추가 */
    .visual p {
        display: none; /* 숨김 */
    }
    .visual .swiper {height: 400px;} /* 팝업의 높이*/
} /* media */

.service {
    margin: 120px 0 120px 0;
}
.service h2 {
    display: none; /* 웹표준상 제목을 썼지만 디자인에 없는 요소라 숨김처리 */
}
.service ul{
    display: flex;
    justify-content: space-between;
}
.service ul li {
    width: 190px; 
}
.service ul li a {
    padding-top: 103px; /* 아이콘이 들어갈 자리 */
    height: 155px;
    font-size: 20px;
    text-align: center;
    display: block;
    border: 1px solid #ccc;
    position: relative; /* before 정렬 기준*/
}
.service ul li a::before {
    position: absolute; /* a를 기준으로 정렬 */
    left: calc(50% - 30px);
    top: 25px;
    content: "";
    width: 60px;
    height: 60px;
}
.service ul li.service01 a::before {
    background: url(../images/icon_service01.svg) no-repeat center center;
}
.service ul li.service02 a::before {
    background: url(../images/icon_service02.svg) no-repeat center center;
}
.service ul li.service03 a::before {
    background: url(../images/icon_service03.svg) no-repeat center center;
}
.service ul li.service04 a::before {
    background: url(../images/icon_service04.svg) no-repeat center center;
}
.service ul li.service05 a::before {
    background: url(../images/icon_service05.svg) no-repeat center center;
}
.service ul li.service06 a::before {
    background: url(../images/icon_service06.svg) no-repeat center center;
}
.service ul li a br {
    display: none; /* 모바일버전에서만 줄바꿈 적용 예정 */
}

@media screen and (max-width:640px){
    .service {
         margin: 50px 0 75px 0;
    }
    .service ul{
        flex-wrap: wrap; /* 줄바꿈 허용*/

    }
    .service ul li {
        /* 한줄에 3개씩 사이사이 여백 16px
        넓이는 %(한줄 3개 33.33%) - 여백 px (총여백 32px/3)*/
        width: calc(33.33% - 11px); 
        margin-bottom: 16px;
    }
    .service ul li a {
        padding-top: 60px; /* 아이콘이 들어갈 자리, 아이콘의 사이즈가 줄여서 여백도 바뀜  */
        height: 97px;
        font-size: 13px;
        line-height: 1;
    }
    .service ul li a::before {
        position: absolute; /* a를 기준으로 정렬 */
        left: calc(50% - 18px); /*50% - 넓이의 반*/
        top: 14px;
        content: "";
        width: 37px;
        height: 43px;
    }
    .service ul li.service01 a::before {
        background-size: 32px auto;
    }
    .service ul li.service02 a::before {
        background-size: 36px auto;
    }
    .service ul li.service03 a::before {
        background-size: 35px auto;
    }
    .service ul li.service04 a::before {
        background-size: 34px auto;
    }
    .service ul li.service05 a::before {
        background-size: 30px auto;
    }
    .service ul li.service06 a::before {
        background-size: 35px auto;
    }
    .service ul li a br {
        display: block; /* 모바일버전에서만 줄바꿈 적용 예정 */
    }
}/*media*/

.biz h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    color: #1d1d1d;
    margin-bottom: 25px;
}

.biz ul {
    display: flex;
    justify-content: space-between;
}
/* a에 사이즈를 주면 li는 a사이즈와 동일 */
.biz ul li a {
    width: 299px;
    height: 299px;
    display: block;
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px 0 35px;
    /* 높이를 준 경우는 왼쪽 오른쪾 위 여백만 줌 하단의 여백은 안줘도 됨
    높이를 고정으로 줘서 여백이 발생함 
    오히려 하단 여백을 주면 글자가 늘어날 경우 높이가 바뀔 가능성이 있음 */
    position: relative; /* more의 정렬기준 */
}
.biz ul li.biz_01 a {
    background-color: #FF97B0;
    
}
.biz ul li.biz_02 a { 
    background-color: #8ECAE6;
    
}
.biz ul li.biz_03 a {
    background-color: #C6B3E1;
    
}
.biz ul li.biz_04 a {
    background-color: #FDD154;
    
}
.biz ul li a::after{
    position: absolute; /* a를 기준으로 정렬*/
    content: ""; /* before, after 선택자가 보이게 하는 값 */
    background-repeat: no-repeat; 
    background-position: left top;
    background-size: 100% auto;
    /* after 선택자에 준 넓이에 딱 맞게 배경이미지 사이즈 조정
    (높이는 비율에 맞게 고정) */
    opacity: 0.2;
    /* 배경 투명처리가 없음 전체 opacity 투명하게 처리 */
}
.biz ul li.biz_01 a::after{
    width: 161px;
    height: 108px;
    right: -20px;
    bottom: 0;
    background-image: url(../images/icon_biz_01.svg);
}
.biz ul li.biz_02 a::after{
    width: 129px;
    height: 137px;
    right: 0px;
    bottom: -18px;
    background-image: url(../images/icon_biz_02.svg);
}
.biz ul li.biz_03 a::after{
    width: 142px;
    height: 142px;
    right: -15px;
    bottom: -35px;
    background-image: url(../images/icon_biz_03.svg);
}
.biz ul li.biz_04 a::after{
    width: 123px;
    height: 123px;
    right: -10px;
    bottom: -20px;
    background-image: url(../images/icon_biz_04.svg);
}
.biz ul li a h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}
.biz ul li a h3 br {
    display: none;
}
.biz ul li a p {
    color: rgba(255,255,255,0.8);
}
/* 위에 배치된 h3/p 문장의 길이가 길거나 짧아도 디자인상 동일한 위치에 배치되어야함
상단여백으로 배치X , position:absolute로 배치해야됨 */
.biz ul li a .more {
    position: absolute;
    left: 35px;
    bottom: 40px;
    color: rgba(255,255,255,0.8);
    padding-right: 22px;
} 
.biz ul li a .more::after {
    position: absolute;
    right: -4px;
    top: 1px;
    width: 21px;
    height: 21px;
    background: url(../images/icon_biz_more.svg) no-repeat center center;
    content: "";
}
@media screen and (max-width:640px){
    .biz h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    
    .biz ul {
        display: block;
      
    }
    .biz ul li {
        margin-bottom: 16px;
    }
    /* a에 사이즈를 주면 li는 a사이즈와 동일 */
    .biz ul li a {
        width: auto;
        /* a에 display:block 있기 때문에 넓이를 auto로 주면 100%가 적용됨 */
        height: 135px;
        border-radius: 10px;
        padding: 28px 40px 0 40px;
        /* 높이를 준 경우는 왼쪽 오른쪾 위 여백만 줌 하단의 여백은 안줘도 됨
        높이를 고정으로 줘서 여백이 발생함 
        오히려 하단 여백을 주면 글자가 늘어날 경우 높이가 바뀔 가능성이 있음 */
        position: relative; /* more의 정렬기준 */
    }
    .biz ul li a::after{
        opacity: 0.8;
    }
    .biz ul li.biz_01 a::after{
        width: 96px;
        height: 64px;
        right: 30px;
        bottom: 35px;
        background-image: url(../images/icon_biz_01.svg);
    }
    .biz ul li.biz_02 a::after{
        width: 85px;
        height: 90px;
        right: 34px;
        bottom: 25px;
        background-image: url(../images/icon_biz_02.svg);
    }
    .biz ul li.biz_03 a::after{
        width: 85px;
        height: 85px;
        right: 33px;
        bottom: 25px;
        background-image: url(../images/icon_biz_03.svg);
    }
    .biz ul li.biz_04 a::after{
        width: 86px;
        height: 85px;
        right: 33px;
        bottom: 24px;
        background-image: url(../images/icon_biz_04.svg);
    }
    .biz ul li a h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .biz ul li a h3 br {
        display: block;
    }
    .biz ul li a p {
        display: none;
    }
    /* 위에 배치된 h3/p 문장의 길이가 길거나 짧아도 디자인상 동일한 위치에 배치되어야함
    상단여백으로 배치X , position:absolute로 배치해야됨 */
    .biz ul li a .more {
        position: relative;
        left: auto;
        bottom: auto;
        color: rgba(255,255,255,0.8);
        padding-right: 20px;
    } 
    .biz ul li a .more::after {
        right: 0;
        top: 2px;
        width: 16px; /*아이콘사이즈*/
        height: 16px;
        background-size: 16px auto;
    }
} /* media*/

.news {
    margin-top: 160px;
}
.news h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    color: #1d1d1d;
    margin-bottom: 25px;
}
.news ul li {
    border: 1px solid #999;
    border-radius: 10px;
    margin-bottom: 10px;
}
.news ul li a {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    line-height: 70px;
    /* 공지사항에 행간을 높이값으로 주면 
    높이가 들어가고 높이의 위아래 가운데에 글자가 배치됨*/
    padding: 0 50px; /* 위아래:0, 좌우:55px */
}
.news ul li a em {
    font-weight: 700;
}
.news ul li a strong {
    width: 800px; 
    /* 글자가 들어갈 수 있는 최대 넓이 지정
    일반공지/장학공지 , 날짜는 글자수가 정해져 있음
    제목은 길이 변경 가능성이 있기 때문에 최대 넓이 지정해줘야 함*/
    white-space: nowrap; /* 줄바꿈 금지 */
    overflow: hidden; /* 영역에서 넘치는 글자 숨김 */
    text-overflow: ellipsis; 
    /* 글자가 짤려서 나타날 수 있기 때문에 글자 끝에 ...추가 
    점 삭제 불가 */
}
.news ul li a span {
    color: #666;
}
.news .inner {
    position: relative; /* more의 정렬의 기준*/
}
.news .more {
    position: absolute;
    right: 0;
    top: 20px;
}
.news .more a {
    border: 1px solid #999;
    border-radius: 20px;
    padding: 10px 30px 10px 14px;
    display: block;
    position: relative;
}
.news .more a::after {
    position: absolute;
    right:8px;
    top: 11px;
    width: 21px; /* 아이콘사이즈 */
    height: 21px;
    content: "";
    background: url(../images/icon_news_more.svg) no-repeat center center / contain ;
    /* pc와 모바일에서 아잍콘 사이즈가 변경된다면 background-size를 미리 지정하는게 좋음
    contain은 영역에 아이콘이 짤리지 않고 꽉차게 나오는 명령*/
}

@media screen and (max-width:640px){
    .news {
        margin-top: 60px;
    }
    .news h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .news ul li {
        border: 0;
        border-bottom: 1px solid #999;
        border-radius: 0;
        margin-bottom: 5px;
    }
    .news ul li a {
        font-size: 13px;
        line-height: 40px;
        /* 공지사항에 행간을 높이값으로 주면 
        높이가 들어가고 높이의 위아래 가운데에 글자가 배치됨*/
        padding: 0; 
    }
    .news ul li a em {
        display: none;
    }
    .news ul li a strong {
        width: calc(100% - 88px); 
        /* 모바일에서는 제목의 넓이가 디바이스의 넓이에 따라 바뀜
        그래서 오른쪽 날짜와 여백값을 100%에서 빼줌
        (날짜와 여백은 고장값이기 때문에) */
    }
    .news .more {
        position: relative;
        right: auto;
        top: auto;
        margin-top: 15px;
        text-align: right;
    }
    .news .more a {
        border: 0;
        padding: 0  25px 0 0;
        display: block;
        display: inline-block;
    }
    .news .more a::after {
        right: 0;
        top: -1px;
    }
} /* media*/

.webzine {
    /* background때문에 여백을 padding으로 줌
    padding은 내부여백이라 background가 padding 영역까지 배치 가능 */
    padding: 140px 0 130px 0;
    background: url(../images/webzine_bg.svg) no-repeat center top 157px / cover;
    /* cover로 주면 배경 사이즈에 따라 위치 변함 , 배경 사이즈 넓이px 높이px 직접 지정하면 고정됨 */
}
.webzine .inner {
    /* tit과 ul를 나란히 배치하기 위해*/
   display: flex;
   justify-content: space-between;
   position: relative; /* more 정렬의 기준 */
}
.webzine .tit h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
}
.webzine .tit strong {
    font-size: 20px;
    font-weight: 400;
}
.webzine ul {
    display: flex;
    /* justify-content:space-between; 적용되지 안ㄶ음
    ul은 감사는 요소가 display:flex를 줬기 때문에 넓이가 100%가 아님
    그래서 justify-content로 사이에 여백을 주려고 해도 줄 여백이 없음(넓이가 없어서)
    li 사이에 여백을 줘야함 */
}
.webzine ul li {
    width: 299px;
    margin-left: 28px;
}
.webzine ul li a {
    background-color: #fff;
    display: block;
    border-radius: 20px;
    overflow: hidden; 
    /* a 안에 있는 이미지는 border-radius 영역 밖으로 나옴
    해결방법 1. 이미지에  border-radius를 또 주는 방법
    2. overflow: hidden으로 border-radius 밖으로 나온 이미지 숨기기*/
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.webzine ul li a strong {
    padding: 15px 15px 20px 15px;
    display: block;
    white-space: nowrap; /* 줄바꿈 금지*/
    overflow: hidden; /* 영역 밖으로 나간 글자 숨기기 */
    text-overflow: ellipsis; /* 글자가 반 잘리는 현상 막기 */
}
.webzine .more {
    position: absolute; /* inner을 기준으로 */
    left: 180px;
    top: 240px;
    color: rgba(255,255,255,0.8);
    font-size: 15px;
}
.webzine .more a {
    display: block;
    padding: 10px 30px 10px 15px;
    position: relative; /* after 정렬 기준*/
    border-radius: 20px;
}
.webzine .more a::after {
    position: absolute;
    right:8px;
    top: 11px;
    width: 21px; /* 아이콘사이즈 */
    height: 21px;
    content: "";
    background: url(../images/icon_webzine_more.svg) no-repeat center center / contain ;
    /* pc와 모바일에서 아이콘 사이즈가 변경될때 
    contain 적용하면 background 영역의 사이즈에 맞게 꽉차게 아이콘이 나타남 */
}
@media screen and (max-width:640px){
    .webzine {
        padding: 75px 0 75px 0;
        background-position: center top 140px;
        background-size: cover; /* 넓이가 고정이 아니라서 반드시 cover */
    }
    .webzine .inner {
        /* tit과 ul를 나란히 배치하기 위해*/
       display: block;
    }
    .webzine .inner .tit {
        display: flex;
        align-items: flex-end; /* 좌우 요소 하단 정렬 */
    }
    .webzine .tit h2 {
        font-size: 25px;
        margin-right: 8px;
    }
    .webzine .tit strong {
        font-size: 13px;
    }
    .webzine ul {
        margin-top: 25px;
        justify-content: space-between;
    }
    .webzine ul li {
        /* 100% / li수 = 50%
        사이의 여백의 합 16px / li수 = 8px*/
        width: calc(50% - 8px);
        margin-left: 0;
    }
    /* 3개의 li 모바일에서는 2개만 보임 마지막 li 숨김처리 */
    .webzine ul li:last-child {
        display: none;
    }
    .webzine ul li a {
        border-radius: 10px;
    }
    .webzine ul li a img {
        width: 100%;
        /* 감싸는 요소의 넓이에 맞게 사이즈 조절
        이미지는 넓이만 주면 대부분 높이는 비율에 맞게 들어감 */
    }
    .webzine ul li a strong {
        padding: 6px 12px 10px 12px;
    }
    .webzine .more {
        position: relative; 
        left: auto;
        top: auto;
        text-align: right;
        font-size: 13px;
        margin-top: 15px;
    }
    .webzine .more a {
        display: inline-block;
        padding: 0 25px 0 0;
        border: 0;
    }
    .webzine .more a::after {
        right: 0;
        top: -1px;
        background: url(../images/icon_webzine_more.svg) no-repeat center center / contain ;
    }
} /*media*/

.footer {
    background-color: #28B3D2;
    color: rgba(255,255,255,0.8);
    padding: 0 0 125px 0; 
    /* footer 모바일에서 높이가 계속 바뀜
    그래서 처음부터 높이를 안주고 위아래 여백 padding으로 줌 */
}
.footer .footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 상단을 기준으로 위아래 정렬 */
    border-top: 1px solid rgba(255,255,255,0.4);
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding: 30px 0;
}
.footer .footer_top .footer_nav ul {
    display: flex;
}
.footer .footer_top .footer_nav ul li {
    margin-right: 30px;
    /* 모바일에서는 꼭 오른쪽에 여백이 들어가야 함
    두줄로 바뀔때 오른쪽에 여백이 있어야 왼쪽 정렬이 잘됨 */
    position: relative;
}
.footer .footer_top .footer_nav ul li:last-child {
    margin-right: 0; /* 마지막 li의 오른쪽 여백 삭제 */
}
.footer .footer_top .footer_nav ul li::after {
    position: absolute;
    right: -15px;
    top: 10px;
    width: 2px;
    height: 2px;
    border-radius: 100%; /* 최대한 둥글게*/
    background-color: rgba(255,255,255,0.6);
    content: "";
}
.footer .footer_top .footer_nav ul .privacy {
    font-weight: 700;
}
.footer .footer_top .footer_nav ul li:last-child::after {
    display: none; /* 마지막 li의 after은 숨김처리*/
}
.footer .footer_btm {
    margin-top: 20px;
}
.footer .footer_btm .footer_info span {
    margin: 8px 30px 38px 0;
    display: inline-block;
}
.footer .footer_btm .footer_info strong {
    font-weight: 700;
}
.footer .footer_btm .footer_copyright {
    color: rgba(255,255,255,0.6);
}
.footer .wrapper {
    position: relative; /* top 버튼 정렬의 기준*/
}
.footer .top {
    position: absolute;
    right: 0;
    top: 130px;
    width: 50px;
    height: 50px;
    background-color: #1d1d1d;
    color: #fff;
    text-align: center; 
    line-height: 50px; /* 높이와 동일한 값을 줘서 위아래 가운데 위치*/
}
@media screen and (max-width:640px){
    .footer {
        padding: 0 0 100px 0; 
        /* footer 모바일에서 높이가 계속 바뀜
        그래서 처음부터 높이를 안주고 위아래 여백 padding으로 줌 */
    }
    .footer .footer_top {
        display: block;
        padding: 20px 0;
    }
    .footer .footer_top .footer_logo img {
        width: 116px;
    }
    .footer .footer_top .footer_nav {
        margin-top: 12pz;
    }
    .footer .footer_top .footer_nav ul {
        flex-wrap: wrap; /* 줄바꿈 허용 */
    }
    .footer .footer_top .footer_nav ul li {
        margin-right: 22px;
    }
    .footer .footer_top .footer_nav ul li::after {
        right: -15px;
        top: 10px;
    }
    .footer .footer_btm {
        margin-top: 30px;
    }
    .footer .footer_btm .footer_info span {
        margin: 5px 22px 6px 0;
    }
    .footer .top {
        top: 1px;
        width: 30px;
        height: 30px; 
        line-height: 30px; /* 높이와 동일한 값을 줘서 위아래 가운데 위치*/
    }
} /* media*/