@import url(default.css);
@import url(common.css);
@import url(layout.css);

/* 
    파일명 : main.css 
    작성자 : 이윤정
    작성일 : 24.03.14
    설  명 : 메인페이지에만 틀어가는 스타일을 저장
            ( header와 footer 빼고 전부 다 )
*/

.container {
    margin-top: 150px; /*header의 높이만큼 */
}
@media screen and (max-width:1024px){
    .container {
        margin-top: 100px; /*header의 높이만큼 */
    }
}
@media screen and (max-width:768px){
    .container {
        margin-top: 50px; /*header의 높이만큼 */
    }
}

/* 
.visual .swiper { 
    
} /* 팝업의 높이가 됨 */
.visual .swiper-slide img { 
    display:block; 
    width:100%;  
} /* 팝업 안에 이미지를 넣었다면 이미지를 꽉차게 나타나게 하기 위해서 해당 스타일을 넣어줌 object-fit 상세설명 */
.visual .swiper-slide img.popup_pc {

}
.visual .swiper-slide img.popup_m {
    display: none;
}
@media screen and (max-width:1640px){  
    .visual .swiper-slide {
        overflow: hidden;
    }
    .visual .swiper-slide img {
        width: 110%;
        transform: translate(-5%, 0);
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    /* 769 ~ 1024까지만 적용 
    .visual .swiper-slide {
        position: relative;
        height: 450px;
        overflow: hidden;
    }
    .visual .swiper-slide img {
        position: absolute;
        left: 50%;
        top: 0;
        height: 450px;
        width: auto;
        transform: translate(-50%, 0);
    } */
}
@media screen and (max-width:768px){ 
    .visual .swiper-slide img.popup_pc {
        display: none;
    }
    .visual .swiper-slide img.popup_m {
        display: block;
    }
    .visual .swiper-slide {
        overflow: hidden;
    }
    .visual .swiper-slide img {
        width: 100%;
        transform: translate(0, 0);
    }
}

.product {
    margin: 135px 0 200px 0 ;
}
.product h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.118rem;
    color: #1e1d3f;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}
.product .list ul {
    align-items: flex-end;
}
.product .list ul li {
    padding-top: 40px;
}
.product .list ul li a {
    display: block;
    position: relative; /* before 정렬의 기준*/
    text-align: center;
    padding: 0 0 35px 0;
}
.product .list ul li a::before {
    position: absolute;
    left: 5px;
    bottom: 8px;
    z-index: -1;
    width: calc(100% - 13px);
    height: 330px;
    background-color: #f9ebea;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    content: "";
}
.product .list ul li a .photo {
    display: block;
}
.product .list ul li a .photo img {
    width: 150px;
    max-width: 80%;
}
.product .list ul li a .tit {
    display: block;
    font-size: 1.176rem;
    font-weight: 700;
    color: #1d1d1d;
}
.product .list ul li a .name {
    display: block;
    font-size: 1.176rem;
    color: #3d3d3d;
    margin: 2px 0 15px 0;
}
.product .list ul li a .group {
    display: flex;
    justify-content: space-evenly;
}
.product .list ul li a .group span {
    display: block;
}
@media screen and (max-width:1280px){ 
    .product {
        margin: 120px 0 180px 0 ;
    }
    .product h2 {
        margin-bottom: 10px;
    }

}
@media screen and (min-width:768px){ 
    /* 왼쪽요소 - active 
    swiper-slide-active*/
    .product .list ul li.swiper-slide-active a::before {
        position: absolute;
        left: 5px;
        bottom: 8px;
        z-index: -1;
        width: calc(100% - 13px);
        height: 430px;
        background-color: #efd0cd;
        border-radius: 20px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
        content: "";
    }
    .product .list ul li.swiper-slide-active a::after {
        position: absolute;
        right: calc(50% + 30px);
        top: -20px;
        width: 100px;
        height: 65px;
        content: "";
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100px auto;
        background-image: url(../images/main/product_active.png);
    }
    .product .list ul li.swiper-slide-active a .photo img {
        width: 190px;
    }
    .product .list ul li.swiper-slide-active a .photo {
        position: relative;
    }
    .product .list ul li.swiper-slide-active a .photo::before {
        position: absolute;
        left: calc(50% + 15px);
        top: -36px;
        width: 90px;
        height: 110px;
        content: "";
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 90px auto;
        background-image: url(../images/main/product_active2.png);
    }
}
@media screen and (max-width:500px){ 
    .product {
        margin: 90px 0 140px 0 ;
    }
    .product h2 {
        font-size: 2.941rem;
    }
    .product .list ul li {
        padding-top: 0;
    }
    .product .list ul li a::after {
        position: absolute;
        right: calc(50% + 30px);
        top: 20px;
        width: 100px;
        height: 65px;
        content: "";
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70px auto;
        background-image: url(../images/main/product_active.png);
    }
}
.brand {
    position: relative; /* photo 정렬의 기준 */
}
.brand .photo {
    position: absolute;
    left: calc(50% + 125px);
    top: 0;
    height: 550px;
    width: calc(50% - 125px);
    border-radius: 275px 0 0 275px;
    overflow: hidden;
}
.brand .photo::before {
    position: absolute;
    right: 0;
    top: calc(50% - 25px);
    width: calc(50% + 125px);
    height: 50px;
    border-radius: 25px 0 0 25px;
    background-color: #f2efde;
    content: "";
}
.brand .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand .inner {
    width: 850px;
}
.brand .inner h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.118rem;
    color: #1a0001;
    font-weight: 900;
    line-height: 1;
}
.brand .inner h2 br {
    display: none;
}
.brand .inner p {
    margin: 10px 0 50px 0;
}
.brand .inner ul {
    display: flex;
    flex-wrap: wrap;
}
.brand .inner ul li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: calc(50% - 33px);
    border: 1px solid #1a0001;
    border-radius: 20px;
    padding: 10px 0;
    margin: 0 33px 20px 0;
}
.brand .inner ul li strong {
    display: block;
    text-align: center;
    font-size: 1.176rem;
    font-weight: 700;
    color: #3d3d3d;
}
@media screen and (max-width:1640px){ 
    .brand .inner {
        width: 750px;
    }
}
@media screen and (max-width:1280px){ 
    .brand .inner {
        width: 630px;
    }
    .brand .inner ul li {
        width: calc(50% - 10px);
        padding: 10px 0;
        margin: 0 10px 20px 0;
    }
    .brand .photo {
        left: calc(50% + 167px);
        width: calc(50% - 67px);
    }
}
@media screen and (max-width:1024px){
    .brand .photo {
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
    .brand .photo::before {
        top: auto;
        width: 100%;
        height: 100%;
        border-radius: 0;
        background-color: #f2efde;
        opacity: 0.6;
        content: "";
    }
    .brand .inner {
        width: auto;
        padding: 80px 0 100px 0;
        position: relative;
        z-index: 10;
    }
    .brand .inner p {   
        color: #1a0001;
    }
    .brand .inner ul {
        border-width: 1px 0 0 1px;
        border-style: solid;
        border-color: #1a0001;
    }
    .brand .inner ul li {
        width: 50%;
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #1a0001;
        border-radius: 0;
        background-color: rgba(255 , 255, 255, 0.2);
        padding: 10px 0;
        margin: 0;
    }
}
@media screen and (max-width:500px){
    .brand .inner h2 {
        font-size: 2.941rem;
    }
    .brand .inner h2 br {
        display: block;
    }
    .brand .inner ul li {
        width: 100%;
    }
 }

.sns {
    margin: 200px 0 120px;
}
.sns h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.118rem;
    color: #1e1d3f;
    font-weight: 900;
    text-align: right;
    margin: 0 200px 20px 0;
}
.sns .sns_ico ul {
    display: flex;
    justify-content: center;
}
.sns .sns_ico ul li {
    margin: 0 10px;
}
.sns .sns_ico ul li a {
    display: block;
}
.sns .list ul li a {
    display: block;
}
.sns .list ul li a .photo {
    position: relative; /* cate 정렬의 기준 */
}
.sns .list ul li a .photo img {
    width: 100%;
}
.sns .list ul li a .photo .cate {
    position: absolute;
    right: 0;
    top: 0;
}
.sns .list ul li a strong {
    display: block;
    margin-top: 10px;
}








footer {
    height: 1000px;
}
