/* 
    파일명 : contents.css 
    작성자 : 이윤정
    작성일 : 24.02.28
    설  명 : 모든 콘텐츠 페이지별 디자인 스타일 저장
*/
@import url(default.css);
@import url(common.css);
@import url(layout.css);

/* ceo인사말 - 회사소개 */
.cts_greeting {
    margin-top: 160px;
    padding-bottom: 250px;
    position: relative;
}
.cts_greeting::before {
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 720px;
    background-color: rgba(255, 204, 203, 0.3);
    border-radius: 400px 0 0 400px ;
    content: "";
}
.cts_greeting .tit {
    font-size: 45px;
    font-weight: 400;
    color: #1d1d1d;
    margin-bottom: 50px;
}
.cts_greeting .tit strong {
    font-weight: 700;
    color: #D20031;
}
.cts_greeting .tit br {
    display: none;
}
.cts_greeting p {
    margin-right: 600px;
}
.cts_greeting .ceo {
    position: absolute;
    left: calc(50% + 250px);
    top: 70px;
}
.cts_greeting .ceo .photo img {
    width: 500px;
}
.cts_greeting .sign {
    display: flex;
    align-items: flex-start;
    margin-top: 160px;
}
.cts_greeting .sign strong {
    display: block;
    margin: 15px 30px 0 0;
    font-size: 20px;
    color: #1d1d1d;
}

@media screen and (max-width:1320px){
    .cts_greeting::before {
        width: 800px;
        height: 650px;
    }
    .cts_greeting .tit {
        font-size: 35px;
        margin-bottom: 40px;
    }
    .cts_greeting p {
        margin-right: 700px;
    }   
    .cts_greeting .ceo {
        left: calc(50% + 150px);
        top: 60px;
    }
    .cts_greeting .ceo .photo img {
        width: 430px;
    }
    .cts_greeting .sign {
        margin-top: 135px;
    }
}
@media screen and (max-width:1024px){ 
    .cts_greeting::before {
        width: 500px;
        height: 800px;
    }
    .cts_greeting p {
        margin-right: 400px;
    } 
    .cts_greeting .tit br {
        display: block; /* 줄바꿈허용*/
    }
    .cts_greeting .ceo {
        left: calc(50% + 150px);
        top: 100px;
    }
    .cts_greeting .ceo .photo img {
        width: 400px;
    }
    .cts_greeting .sign {
        margin-top: 205px;
    }
}
@media screen and (max-width:768px){ 
    .cts_greeting p {
        margin-right: 0;
    } 
}

/* 연혁 - 회사소개 */
.cts_history {
    margin: 40px 0 70px 0;
    position: relative;
}
/* 
    <div class = "year10 left"></div>
    <div class = "year10 right"></div>
    이렇게 두개가 있는 경우 위 left의 하단 여백과
    right 상단 여백을 동시에 준 경우 
    중복으로 적용되지 않고 둘중 제일 큰 여백만 적용됨
*/
.cts_history::before {
    position: absolute;
    left: 50%;
    top: 20px;  
    width: 1px;
    height: calc(100% - 20px);
    background-color: #D20031;
    content: "";
}
.cts_history .year10 {
    margin: 150px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cts_history .right {
    flex-direction: row-reverse;
} 
.cts_history .year_tit {
    width: 50%;
    padding: 0 80px 0 0;
}
.cts_history .right .year_tit {
    padding: 0 0 0 80px;
    text-align: right;
}
.cts_history .year_tit h2 {
    font-size: 30px;
    font-weight: 700;
    color: #D20031;
    margin-bottom: 10px;
}
.cts_history .year_tit p {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: #2d2d2d;
    margin-bottom: 30px;
}
.cts_history .year_tit .photo {
    position: absolute;
    right: calc(50% + 80px);
}
.cts_history .right .year_tit .photo {
    right: auto;
    left: calc(50% + 80px);
}
.cts_history .year_cnt {
    width: 50%; 
    padding: 0 0 0 50px;
    position: relative; /* before 정렬의 기준*/
}
.cts_history .right .year_cnt {
    padding: 0 50px 0 0;
}
.cts_history .year_cnt .year1_group {
    margin-bottom: 70px;
}
.cts_history .right .year_cnt .year1_group {
    flex-direction: row-reverse;
}
.cts_history .year_cnt .year1_group h3 {
    font-size: 40px;
    font-weight: 700;
    color: #FE9A9A;
    margin-bottom: 20px;
    position: relative; /* before 정렬의 기준 */
}
.cts_history .year_cnt .year1_group h3::before {
    position: absolute;
    left: -60px;
    top: 18px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #D20031;
    content: "";
}
.cts_history .right .year_cnt .year1_group h3::before {
    left: auto;
    right: -60px;
}
.cts_history .right .year_cnt .year1_group h3{
    text-align: right;
}
.cts_history .year_cnt .year1_group dl dt {
    float: left;
    /* dd 태그는 dt가 없는 것처럼 인식 */
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #3d3d3d;
}
.cts_history .right .year_cnt .year1_group dl dt {
    float: right;
}
.cts_history .year_cnt .year1_group dl dd {
    margin: 0 0 15px 40px;
    /* 왼쪽에 dt가 들어갈 자리를 반드시 margin으로 여백을 줌 */
    position: relative; /* after 정렬의 기준 */
}
.cts_history .year_cnt .year1_group dl dd::after {
    position: absolute;
    left: -7px;
    top: 3px;
    width: 1px;
    height: 12px;
    background-color: #cdcdcd;
    content: "";
}
.cts_history .right .year_cnt .year1_group dl dd::after {
    left: auto;
    right: -7px;
}
.cts_history .right .year_cnt .year1_group dl dd {
    margin: 0 40px 15px 0;
    text-align: right;
}
/* 만약 dd 태그가 연속으로 두번나오는 경우 두번째 dd */
.cts_history .year_cnt .year1_group dl dd + dd {
    margin-top: -12px;
}
@media screen and (max-width:1320px){ 
    .cts_history .year10 {
        margin: 120px 0;
    }
    .cts_history .year_tit h2 {
        font-size: 28px;
        margin-bottom: 8px;
    }
    .cts_history .year_tit p {
        font-size: 40px;
        margin-bottom: 25px;
    }
    .cts_history .year_cnt .year1_group {
        margin-bottom: 60px;
    }
}
@media screen and (max-width:1024px){ 
    .cts_history .year10 {
        margin: 100px 0;
    }
    .cts_history .year_tit h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }
    .cts_history .year_tit p {
        font-size: 35px;
        margin-bottom: 25px;
    }
    .cts_history .year_cnt .year1_group {
        margin-bottom: 40px;
    }
    .cts_history .year_cnt .year1_group h3 {
        font-size: 35px;
    }
    .cts_history .year_cnt .year1_group dl dd {
        margin: 0 0 10px 40px;
        /* 왼쪽에 dt가 들어갈 자리를 반드시 margin으로 여백을 줌 */
    }
    .cts_history .right .year_cnt .year1_group dl dd {
        margin: 0 40px 10px 0;
        text-align: right;
    }
}
@media screen and (max-width:768px){ 
    .cts_history .year10 {
        margin: 100px 0;
    }
    .cts_history::before {
        display: none;
    }
    .cts_history .year10 {
        display: block; /* flex 해제 */
    }
    .cts_history .year_tit {
        text-align: center;
        width: auto;
        padding: 0;
        position: relative;
    }
    .cts_history .right .year_tit {
        padding: 0;
        text-align: center;
    }
    .cts_history .year_tit h2 {
        font-size: 20px;
        margin-bottom: 10px;
        padding-top: 25px;
        color: #FFCCCB;
    }
    .cts_history .year_tit p {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 0;
        padding-bottom: 30px;
        color: #fff;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }
    .cts_history .year_tit .photo {
        position: absolute;
        right: auto;
        top: 0;
        z-index: -1;
        margin: 0 -20px;
    }
    .cts_history .right .year_tit .photo {
        right: auto;
        left: auto;
        margin: 0 -20px;
    }
    .cts_history .year_tit .photo img {
        width: 100%;
    }
    .cts_history .year_cnt {
        width: auto; 
        padding: 0 0 0 30px;
        margin-top: 40px;
        position: relative; /* before 정렬의 기준 */
    }
    .cts_history .year_cnt::before {
        position: absolute;
        left: 9px;
        top: 12px;  
        width: 1px;
        height: calc(100% - 12px);
        background-color: #D20031;
        content: "";
    }
    .cts_history .right .year_cnt {
        padding: 0 0 0 30px;
    }
    .cts_history .year_cnt .year1_group h3 {
        font-size: 25px;
    }
    .cts_history .right .year_cnt .year1_group h3{
        text-align: left;
    }
    .cts_history .year_cnt .year1_group h3::before {
        left: -25px;
        top: 12px;
        width: 10px;
        height: 10px;
    }
    .cts_history .right .year_cnt .year1_group h3::before {
        left: -25px;
        right: auto;
    }
    .cts_history .right .year_cnt .year1_group dl dt {
        float: left;
    }
    .cts_history .right .year_cnt .year1_group dl dd {
        margin: 0 0 10px 40px;
        text-align: left;
    }
    .cts_history .right .year_cnt .year1_group dl dd::after {
        left: -7px;
        right: auto;
    }
}
.cts_ir03 {
    margin: 95px 0 150px 0;
}
.cts_ir03 h2 {
    font-size: 45px;
    font-weight: 700;
    color: #1d1d1d;
}
.cts_ir03 p {
    font-size: 20px;
    color: #2d2d2d;
    margin: 10px 0 50px 0;
}
.cts_ir03 .table_wrap {
    overflow-y: auto;
    /* 모바일에서 화면 넓이보다 콘텐츠가 작을때 좌우 스크롤 가능 */
}
.cts_ir03 .table_wrap table {
    width: 100%;
    border-collapse: collapse;
    /* table에서만 적용됨
    각 th, td 칸에 border가 들어가 있는데 
    중복되어 있는 선을 병합해줌 */
    border-top: 3px solid #D20031 ;
}
.cts_ir03 .table_wrap table caption {
    display: none; /* 숨김 */
}
.cts_ir03 .table_wrap table th,
.cts_ir03 .table_wrap table td {
    border: 1px solid #ccc;
}
.cts_ir03 .table_wrap table th:first-child,
.cts_ir03 .table_wrap table td:first-child {
    border-left: 0;
}
.cts_ir03 .table_wrap table th:last-child,
.cts_ir03 .table_wrap table td:last-child {
    border-right: 0;
}
.cts_ir03 .table_wrap table tbody th,
.cts_ir03 .table_wrap table tbody td {
    padding: 10px 20px;
}
.cts_ir03 .table_wrap table thead th,
.cts_ir03 .table_wrap table thead td {
    background-color: #f4f4f4;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 20px;
}
.cts_ir03 .table_wrap table td {
    text-align: right;
}
.cts_ir03 .table_wrap table th {
    text-align: right;
    font-weight: 700;
}
.cts_ir03 .table_wrap table th:first-child {
    text-align: left;
}
@media screen and (max-width:768px){ 
    .cts_ir03 {
        margin: 70px 0 100px 0;
    }
    .cts_ir03 h2 {
        font-size: 20px;
    }
    .cts_ir03 p {
        font-size: 15px;
        margin: 5px 0 30px 0;
    }
    .cts_ir03 .table_wrap table tbody th,
    .cts_ir03 .table_wrap table tbody td {
        padding: 5px 10px;
    }
    .cts_ir03 .table_wrap table thead th,
    .cts_ir03 .table_wrap table thead td {
        font-size: 15px;
        padding: 8px 10px;
    }
}

/* 사업실적검색 - 사업분야 */
.cts_biz05 {
    margin: 100px 0;
}
.cts_biz05 .search_group .search {
    max-width: 844px; /* 최대넓이*/
    width: 100%;
    /* 넓이가 기본적으로 100%인데(감싸는 영역의 넓이의 100%)
        감싸는 영역이 넓어져서 해당 요소의 넓이도
        844px이상으로 못늘어나게 max-width로 지정*/
    height: 65px;
    border: 2px solid #D20031;
    border-radius: 50px;
    margin: 0 auto; /* 넓이값을 가진 block 요소를 가운데 정렬 */
    position: relative; /* before 정렬의 기준 */
    padding: 0 0 0 90px;
    display: flex;
    align-items: center; /* 위아래 가운데 */
}
.cts_biz05 .search_group .search:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1) ;
}
.cts_biz05 .search_group .search::before{   
    position: absolute;
    left: 35px;
    top: 2px;
    font-size: 40px;
    font-weight: 700;
    color: #D20031;
    content: "K";
}
.cts_biz05 .search_group .search label {
    display: none; /* 숨김 */
}
.cts_biz05 .search_group .search input[type="text"] {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    width: calc(100% - 90px);
    border: 0;
    outline: 0; /* 입력할때 나타나는 테두리 숨김 */
}
.cts_biz05 .search_group .search input[type="text"]::placeholder {
    font-weight: 400;
    color: #adadad;
}
.cts_biz05 .search_group .search input[type="submit"] {
    border: 0;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='search_FILL0_wght400_GRAD0_opsz24' d='M131.1-817.809a10.71,10.71,0,0,1-7.873-3.222A10.71,10.71,0,0,1,120-828.9a10.71,10.71,0,0,1,3.222-7.873A10.71,10.71,0,0,1,131.1-840a10.71,10.71,0,0,1,7.873,3.222,10.71,10.71,0,0,1,3.222,7.873,10.4,10.4,0,0,1-.6,3.542,10.171,10.171,0,0,1-1.622,2.945l9.559,9.559a1.619,1.619,0,0,1,.469,1.195,1.619,1.619,0,0,1-.469,1.195,1.619,1.619,0,0,1-1.195.469,1.619,1.619,0,0,1-1.195-.469l-9.559-9.559a10.172,10.172,0,0,1-2.945,1.622A10.405,10.405,0,0,1,131.1-817.809Zm0-3.414a7.408,7.408,0,0,0,5.441-2.24,7.408,7.408,0,0,0,2.24-5.441,7.408,7.408,0,0,0-2.24-5.441,7.408,7.408,0,0,0-5.441-2.24,7.408,7.408,0,0,0-5.441,2.24,7.408,7.408,0,0,0-2.24,5.441,7.408,7.408,0,0,0,2.24,5.441A7.408,7.408,0,0,0,131.1-821.223Z' transform='translate(-120 840)' fill='%23d20031'/%3E%3C/svg%3E%0A");
    margin-left: 20px;
}
@media screen and (max-width:1024px){  
    .cts_biz05 {
        margin: 80px 0;
    }
    .cts_biz05 .search_group .search {
        height: 55px;
        padding: 0 0 0 70px;
    }
    .cts_biz05 .search_group .search::before{  
        left: 25px;
        top: 5px;
        font-size: 30px;
    }
    .cts_biz05 .search_group .search input[type="text"] {
        font-size: 15px;
        width: calc(100% - 70px);
    }
    .cts_biz05 .search_group .search input[type="submit"] {
        width: 25px;
        height: 25px;
        margin-left: 15px;
    }
}
.cts_biz05 .login_group {
    width: 100%;
    max-width: 550px;
    margin: 80px auto;
}
.cts_biz05 .login_group h2 {
    font-size: 30px;
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 35px;
    text-align: center;
}
.cts_biz05 .login_group .login_form {
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.cts_biz05 .login_group .login_form .user_id,
.cts_biz05 .login_group .login_form .user_pw {
    height: 80px;
    display: flex;
    align-items: center; /* 위아래 가운데 */
}
.cts_biz05 .login_group .login_form .user_id {
    border-bottom: 2px solid #ccc;
}
.cts_biz05 .login_group .login_form .user_id label,
.cts_biz05 .login_group .login_form .user_pw label {
    font-size: 0;
    line-height: 0;
    width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.cts_biz05 .login_group .login_form .user_id label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32.662' height='30.867' viewBox='0 0 32.662 30.867'%3E%3Cpath id='person_FILL0_wght200_GRAD0_opsz24' d='M216.331-730.618a6.739,6.739,0,0,1-4.943-2.056,6.739,6.739,0,0,1-2.056-4.943,6.74,6.74,0,0,1,2.056-4.943,6.74,6.74,0,0,1,4.943-2.056,6.74,6.74,0,0,1,4.943,2.056,6.74,6.74,0,0,1,2.056,4.943,6.739,6.739,0,0,1-2.056,4.943A6.739,6.739,0,0,1,216.331-730.618ZM200-716.172v-1.418a4.774,4.774,0,0,1,.841-2.7,5.647,5.647,0,0,1,2.263-1.954,33.1,33.1,0,0,1,6.609-2.376,28.327,28.327,0,0,1,6.618-.792,28.327,28.327,0,0,1,6.618.792,33.1,33.1,0,0,1,6.609,2.376,5.647,5.647,0,0,1,2.263,1.954,4.774,4.774,0,0,1,.841,2.7v1.418a2.344,2.344,0,0,1-.7,1.725,2.343,2.343,0,0,1-1.725.7H202.423a2.343,2.343,0,0,1-1.725-.7A2.344,2.344,0,0,1,200-716.172Zm2.333.09h28v-1.507a2.421,2.421,0,0,0-.5-1.458,4.024,4.024,0,0,0-1.384-1.153,29.61,29.61,0,0,0-5.94-2.138,26.084,26.084,0,0,0-6.174-.743,26.084,26.084,0,0,0-6.174.743,29.61,29.61,0,0,0-5.94,2.138,4.024,4.024,0,0,0-1.384,1.153,2.42,2.42,0,0,0-.5,1.458Zm14-16.869a4.493,4.493,0,0,0,3.3-1.371,4.493,4.493,0,0,0,1.371-3.3,4.493,4.493,0,0,0-1.371-3.3,4.493,4.493,0,0,0-3.3-1.371,4.493,4.493,0,0,0-3.3,1.371,4.493,4.493,0,0,0-1.371,3.3,4.493,4.493,0,0,0,1.371,3.3A4.493,4.493,0,0,0,216.331-732.951ZM216.331-737.617ZM216.331-716.082Z' transform='translate(-200 744.616)' fill='%23999'/%3E%3C/svg%3E%0A");
    background-size: 32px auto;
}
.cts_biz05 .login_group .login_form .user_pw label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.711' height='31.771' viewBox='0 0 24.711 31.771'%3E%3Cpath id='lock_FILL0_wght200_GRAD0_opsz24' d='M202.851-808.228a2.749,2.749,0,0,1-2.018-.833A2.749,2.749,0,0,1,200-811.08v-15.478a2.749,2.749,0,0,1,.833-2.018,2.749,2.749,0,0,1,2.018-.833H205.3v-3.53a6.811,6.811,0,0,1,2.055-5.005A6.811,6.811,0,0,1,212.356-840a6.811,6.811,0,0,1,5.005,2.055,6.811,6.811,0,0,1,2.055,5.005v3.53h2.444a2.748,2.748,0,0,1,2.018.833,2.749,2.749,0,0,1,.833,2.018v15.478a2.748,2.748,0,0,1-.833,2.018,2.749,2.749,0,0,1-2.018.833Zm0-1.765H221.86a1.057,1.057,0,0,0,.781-.305,1.057,1.057,0,0,0,.305-.781v-15.478a1.057,1.057,0,0,0-.305-.781,1.057,1.057,0,0,0-.781-.305H202.851a1.057,1.057,0,0,0-.781.305,1.057,1.057,0,0,0-.305.781v15.478a1.058,1.058,0,0,0,.305.781A1.057,1.057,0,0,0,202.851-809.994Zm9.5-6.178a2.558,2.558,0,0,0,1.882-.765,2.558,2.558,0,0,0,.765-1.882,2.558,2.558,0,0,0-.765-1.882,2.558,2.558,0,0,0-1.882-.765,2.558,2.558,0,0,0-1.882.765,2.558,2.558,0,0,0-.765,1.882,2.558,2.558,0,0,0,.765,1.882A2.558,2.558,0,0,0,212.356-816.171Zm-5.3-13.238h10.591v-3.53a5.107,5.107,0,0,0-1.544-3.751,5.106,5.106,0,0,0-3.751-1.544,5.106,5.106,0,0,0-3.751,1.544,5.107,5.107,0,0,0-1.544,3.751Zm-5.3,19.416v0Z' transform='translate(-200 840)' fill='%23999'/%3E%3C/svg%3E%0A");
    background-size: 25px auto;
}
.cts_biz05 .login_group .login_form input {
    width: calc(100% - 140px);
    font-size: 20px;
    font-weight: 700;
    color: #2d2d2d;
    border: 0;
}
.cts_biz05 .login_group .login_form input::placeholder {
    font-weight: 400;
    color: #adadad;
}
.cts_biz05 .login_group .login_chk {
    margin: 15px 0 25px 0;
}
.cts_biz05 .login_group .login_chk input {
    display: none;
}
.cts_biz05 .login_group .login_chk label {
    position: relative; /* before 정렬의 기준 */
    padding-left: 40px;
    cursor: pointer;
}
.cts_biz05 .login_group .login_chk label::before {
    position: absolute;
    left: 10px;
    top: -2px;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath id='check_circle_FILL0_wght200_GRAD0_opsz24' d='M128.4-827.231,125.628-830a.559.559,0,0,0-.382-.167.519.519,0,0,0-.4.167.545.545,0,0,0-.177.393.545.545,0,0,0,.177.393l2.932,2.932a.861.861,0,0,0,.628.269.861.861,0,0,0,.628-.269l6.085-6.085a.559.559,0,0,0,.167-.382.519.519,0,0,0-.167-.4.545.545,0,0,0-.393-.177.545.545,0,0,0-.393.177ZM130-820a9.746,9.746,0,0,1-3.9-.787,10.1,10.1,0,0,1-3.177-2.137,10.094,10.094,0,0,1-2.139-3.174A9.726,9.726,0,0,1,120-830a9.747,9.747,0,0,1,.787-3.9,10.1,10.1,0,0,1,2.137-3.177,10.1,10.1,0,0,1,3.174-2.139A9.727,9.727,0,0,1,130-840a9.746,9.746,0,0,1,3.9.787,10.106,10.106,0,0,1,3.177,2.137,10.094,10.094,0,0,1,2.139,3.174A9.726,9.726,0,0,1,140-830a9.746,9.746,0,0,1-.787,3.9,10.105,10.105,0,0,1-2.137,3.177,10.1,10.1,0,0,1-3.174,2.139A9.727,9.727,0,0,1,130-820Zm0-1.111a8.579,8.579,0,0,0,6.306-2.583A8.579,8.579,0,0,0,138.889-830a8.579,8.579,0,0,0-2.583-6.306A8.579,8.579,0,0,0,130-838.889a8.579,8.579,0,0,0-6.306,2.583A8.579,8.579,0,0,0,121.111-830a8.579,8.579,0,0,0,2.583,6.306A8.579,8.579,0,0,0,130-821.111ZM130-830Z' transform='translate(-120 840)' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
}
/*
    <input type="checkbox">
    <label>체크</label>
    checkbox가 클릭되면 input:checked로 확인가능
    체크 이후의 디자인은 input:checked 뒤에 나오는 label 태그는 
    반드시 코딩 순서가 input label 순이어야함
    */
.cts_biz05 .login_group .login_chk input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath id='check_circle_FILL1_wght200_GRAD0_opsz24' d='M128.4-827.231,125.628-830a.559.559,0,0,0-.382-.167.519.519,0,0,0-.4.167.545.545,0,0,0-.177.393.545.545,0,0,0,.177.393l2.932,2.932a.861.861,0,0,0,.628.269.861.861,0,0,0,.628-.269l6.085-6.085a.559.559,0,0,0,.167-.382.519.519,0,0,0-.167-.4.545.545,0,0,0-.393-.177.545.545,0,0,0-.393.177ZM130-820a9.746,9.746,0,0,1-3.9-.787,10.1,10.1,0,0,1-3.177-2.137,10.094,10.094,0,0,1-2.139-3.174A9.726,9.726,0,0,1,120-830a9.747,9.747,0,0,1,.787-3.9,10.1,10.1,0,0,1,2.137-3.177,10.1,10.1,0,0,1,3.174-2.139A9.727,9.727,0,0,1,130-840a9.746,9.746,0,0,1,3.9.787,10.106,10.106,0,0,1,3.177,2.137,10.094,10.094,0,0,1,2.139,3.174A9.726,9.726,0,0,1,140-830a9.746,9.746,0,0,1-.787,3.9,10.105,10.105,0,0,1-2.137,3.177,10.1,10.1,0,0,1-3.174,2.139A9.727,9.727,0,0,1,130-820Z' transform='translate(-120 840)' fill='%23d20031'/%3E%3C/svg%3E%0A");
}
.cts_biz05 .login_group input[type="submit"] {
    width: 100%;
    line-height: 60px;
    background-color: #D20031;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    cursor: pointer; /* 오버시 마우스 포인터 손가락 */
}
@media screen and (max-width:1024px){  
    .cts_biz05 .login_group h2 {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .cts_biz05 .login_group .login_form .user_id,
    .cts_biz05 .login_group .login_form .user_pw {
        height: 50px;
    }
    .cts_biz05 .login_group .login_form .user_id label,
    .cts_biz05 .login_group .login_form .user_pw label {
        width: 70px;
    }
    .cts_biz05 .login_group .login_form .user_id label {
        background-size: 23px auto;
    }
    .cts_biz05 .login_group .login_form .user_pw label {
        background-size: 18px auto;
    }
    .cts_biz05 .login_group .login_form input {
        width: calc(100% - 100px);
        font-size: 15px;
    }
    .cts_biz05 .login_group .login_chk {
        margin: 10px 0 20px 0;
    }
    .cts_biz05 .login_group .login_chk label {
        padding-left: 30px;
    }
    .cts_biz05 .login_group .login_chk label::before {
        left: 7px;
        top: 0;
        width: 15px;
        height: 15px;
    }
    .cts_biz05 .login_group input[type="submit"] {
        line-height: 40px;
        font-size: 15px;
    }
}
.cts_biz05 .join_group {
    max-width: 550px;
    width: 100%;
    margin: 50px auto;
}
.cts_biz05 .join_group h2 {
    font-size: 30px;
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 25px;
}
.cts_biz05 .join_group .agree_box {
    width: 100%;
    height: 245px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    margin-top: 20px;
}
.cts_biz05 .join_group .agree_box .inner1 {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.cts_biz05 .join_group .agree_box .inner1::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent; 
}
.cts_biz05 .join_group .agree_box .inner1::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}
.cts_biz05 .join_group .agree_box .inner2 {
    white-space: pre-line;
}
.cts_biz05 .join_group .agree_box strong {
    font-weight: 700;
}
.cts_biz05 .join_group .agree_btn {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 100px 0;
}
.cts_biz05 .join_group .agree_btn input {
    display: none;
}
.cts_biz05 .join_group .agree_btn label {
    padding: 5px 0 30px 5px;
    display: block;
    position: relative; /* before 정렬의 기준 */
    cursor: pointer;
}
.cts_biz05 .join_group .agree_btn label::before {
    position: absolute;
    left: -22px;
    top: 3px;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath id='check_circle_FILL0_wght200_GRAD0_opsz24' d='M128.4-827.231,125.628-830a.559.559,0,0,0-.382-.167.519.519,0,0,0-.4.167.545.545,0,0,0-.177.393.545.545,0,0,0,.177.393l2.932,2.932a.861.861,0,0,0,.628.269.861.861,0,0,0,.628-.269l6.085-6.085a.559.559,0,0,0,.167-.382.519.519,0,0,0-.167-.4.545.545,0,0,0-.393-.177.545.545,0,0,0-.393.177ZM130-820a9.746,9.746,0,0,1-3.9-.787,10.1,10.1,0,0,1-3.177-2.137,10.094,10.094,0,0,1-2.139-3.174A9.726,9.726,0,0,1,120-830a9.747,9.747,0,0,1,.787-3.9,10.1,10.1,0,0,1,2.137-3.177,10.1,10.1,0,0,1,3.174-2.139A9.727,9.727,0,0,1,130-840a9.746,9.746,0,0,1,3.9.787,10.106,10.106,0,0,1,3.177,2.137,10.094,10.094,0,0,1,2.139,3.174A9.726,9.726,0,0,1,140-830a9.746,9.746,0,0,1-.787,3.9,10.105,10.105,0,0,1-2.137,3.177,10.1,10.1,0,0,1-3.174,2.139A9.727,9.727,0,0,1,130-820Zm0-1.111a8.579,8.579,0,0,0,6.306-2.583A8.579,8.579,0,0,0,138.889-830a8.579,8.579,0,0,0-2.583-6.306A8.579,8.579,0,0,0,130-838.889a8.579,8.579,0,0,0-6.306,2.583A8.579,8.579,0,0,0,121.111-830a8.579,8.579,0,0,0,2.583,6.306A8.579,8.579,0,0,0,130-821.111ZM130-830Z' transform='translate(-120 840)' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
}
/* html에서 미리 체크되어 있게 <input type="radio" checked>를 주면
css에서는 input:checked로 선택*/
.cts_biz05 .join_group .agree_btn input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath id='check_circle_FILL1_wght200_GRAD0_opsz24' d='M128.4-827.231,125.628-830a.559.559,0,0,0-.382-.167.519.519,0,0,0-.4.167.545.545,0,0,0-.177.393.545.545,0,0,0,.177.393l2.932,2.932a.861.861,0,0,0,.628.269.861.861,0,0,0,.628-.269l6.085-6.085a.559.559,0,0,0,.167-.382.519.519,0,0,0-.167-.4.545.545,0,0,0-.393-.177.545.545,0,0,0-.393.177ZM130-820a9.746,9.746,0,0,1-3.9-.787,10.1,10.1,0,0,1-3.177-2.137,10.094,10.094,0,0,1-2.139-3.174A9.726,9.726,0,0,1,120-830a9.747,9.747,0,0,1,.787-3.9,10.1,10.1,0,0,1,2.137-3.177,10.1,10.1,0,0,1,3.174-2.139A9.727,9.727,0,0,1,130-840a9.746,9.746,0,0,1,3.9.787,10.106,10.106,0,0,1,3.177,2.137,10.094,10.094,0,0,1,2.139,3.174A9.726,9.726,0,0,1,140-830a9.746,9.746,0,0,1-.787,3.9,10.105,10.105,0,0,1-2.137,3.177,10.1,10.1,0,0,1-3.174,2.139A9.727,9.727,0,0,1,130-820Z' transform='translate(-120 840)' fill='%23d20031'/%3E%3C/svg%3E%0A");
}
.cts_biz05 .join_group .info .info_box {
    border: 2px solid #ccc;
    border-radius: 20px;
    margin-bottom: 35px;
}
.cts_biz05 .join_group .info .info_box > div {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
}
.cts_biz05 .join_group .info .info_box > div:last-child {
    border-bottom: 0;
}
.cts_biz05 .join_group .info .info_box .user_id label,
.cts_biz05 .join_group .info .info_box .user_mail label,
.cts_biz05 .join_group .info .info_box .user_pw label{
    width: 100px;
    height: 100%;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center;     
}
.cts_biz05 .join_group .info .info_box .user_id label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32.662' height='30.867' viewBox='0 0 32.662 30.867'%3E%3Cpath id='person_FILL0_wght200_GRAD0_opsz24' d='M216.331-730.618a6.739,6.739,0,0,1-4.943-2.056,6.739,6.739,0,0,1-2.056-4.943,6.74,6.74,0,0,1,2.056-4.943,6.74,6.74,0,0,1,4.943-2.056,6.74,6.74,0,0,1,4.943,2.056,6.74,6.74,0,0,1,2.056,4.943,6.739,6.739,0,0,1-2.056,4.943A6.739,6.739,0,0,1,216.331-730.618ZM200-716.172v-1.418a4.774,4.774,0,0,1,.841-2.7,5.647,5.647,0,0,1,2.263-1.954,33.1,33.1,0,0,1,6.609-2.376,28.327,28.327,0,0,1,6.618-.792,28.327,28.327,0,0,1,6.618.792,33.1,33.1,0,0,1,6.609,2.376,5.647,5.647,0,0,1,2.263,1.954,4.774,4.774,0,0,1,.841,2.7v1.418a2.344,2.344,0,0,1-.7,1.725,2.343,2.343,0,0,1-1.725.7H202.423a2.343,2.343,0,0,1-1.725-.7A2.344,2.344,0,0,1,200-716.172Zm2.333.09h28v-1.507a2.421,2.421,0,0,0-.5-1.458,4.024,4.024,0,0,0-1.384-1.153,29.61,29.61,0,0,0-5.94-2.138,26.084,26.084,0,0,0-6.174-.743,26.084,26.084,0,0,0-6.174.743,29.61,29.61,0,0,0-5.94,2.138,4.024,4.024,0,0,0-1.384,1.153,2.42,2.42,0,0,0-.5,1.458Zm14-16.869a4.493,4.493,0,0,0,3.3-1.371,4.493,4.493,0,0,0,1.371-3.3,4.493,4.493,0,0,0-1.371-3.3,4.493,4.493,0,0,0-3.3-1.371,4.493,4.493,0,0,0-3.3,1.371,4.493,4.493,0,0,0-1.371,3.3,4.493,4.493,0,0,0,1.371,3.3A4.493,4.493,0,0,0,216.331-732.951ZM216.331-737.617ZM216.331-716.082Z' transform='translate(-200 744.616)' fill='%23999'/%3E%3C/svg%3E%0A");
    background-size: 32px auto;
}
.cts_biz05 .join_group .info .info_box .user_mail label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='23.333' viewBox='0 0 30 23.333'%3E%3Cpath id='mail_FILL0_wght200_GRAD0_opsz24' d='M122.692-736.667a2.608,2.608,0,0,1-1.921-.771,2.608,2.608,0,0,1-.771-1.921v-17.949a2.608,2.608,0,0,1,.771-1.921,2.608,2.608,0,0,1,1.921-.771h24.615a2.608,2.608,0,0,1,1.921.771,2.608,2.608,0,0,1,.771,1.921v17.949a2.608,2.608,0,0,1-.771,1.921,2.608,2.608,0,0,1-1.921.771Zm25.641-20.192-12.587,8.24a2.539,2.539,0,0,1-.357.155,1.185,1.185,0,0,1-.389.063,1.185,1.185,0,0,1-.389-.062,2.539,2.539,0,0,1-.357-.155l-12.587-8.24v17.5a1,1,0,0,0,.288.737,1,1,0,0,0,.737.288h24.615a1,1,0,0,0,.737-.288,1,1,0,0,0,.288-.737ZM135-750l12.82-8.333H122.179Zm-13.333-6.859v0Z' transform='translate(-120 760)' fill='%23999'/%3E%3C/svg%3E%0A");
    background-size: 30px auto;
}
.cts_biz05 .join_group .info .info_box .user_pw label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.711' height='31.771' viewBox='0 0 24.711 31.771'%3E%3Cpath id='lock_FILL0_wght200_GRAD0_opsz24' d='M202.851-808.228a2.749,2.749,0,0,1-2.018-.833A2.749,2.749,0,0,1,200-811.08v-15.478a2.749,2.749,0,0,1,.833-2.018,2.749,2.749,0,0,1,2.018-.833H205.3v-3.53a6.811,6.811,0,0,1,2.055-5.005A6.811,6.811,0,0,1,212.356-840a6.811,6.811,0,0,1,5.005,2.055,6.811,6.811,0,0,1,2.055,5.005v3.53h2.444a2.748,2.748,0,0,1,2.018.833,2.749,2.749,0,0,1,.833,2.018v15.478a2.748,2.748,0,0,1-.833,2.018,2.749,2.749,0,0,1-2.018.833Zm0-1.765H221.86a1.057,1.057,0,0,0,.781-.305,1.057,1.057,0,0,0,.305-.781v-15.478a1.057,1.057,0,0,0-.305-.781,1.057,1.057,0,0,0-.781-.305H202.851a1.057,1.057,0,0,0-.781.305,1.057,1.057,0,0,0-.305.781v15.478a1.058,1.058,0,0,0,.305.781A1.057,1.057,0,0,0,202.851-809.994Zm9.5-6.178a2.558,2.558,0,0,0,1.882-.765,2.558,2.558,0,0,0,.765-1.882,2.558,2.558,0,0,0-.765-1.882,2.558,2.558,0,0,0-1.882-.765,2.558,2.558,0,0,0-1.882.765,2.558,2.558,0,0,0-.765,1.882,2.558,2.558,0,0,0,.765,1.882A2.558,2.558,0,0,0,212.356-816.171Zm-5.3-13.238h10.591v-3.53a5.107,5.107,0,0,0-1.544-3.751,5.106,5.106,0,0,0-3.751-1.544,5.106,5.106,0,0,0-3.751,1.544,5.107,5.107,0,0,0-1.544,3.751Zm-5.3,19.416v0Z' transform='translate(-200 840)' fill='%23999'/%3E%3C/svg%3E%0A");
    background-size: 25px auto;
}
.cts_biz05 .join_group .info .info_box .user_id input,
.cts_biz05 .join_group .info .info_box .user_pw input {
    width: calc(100% - 140px);
}
.cts_biz05 .join_group .info .info_box input[type="text"],
.cts_biz05 .join_group .info .info_box input[type="password"]{
    font-size: 20px;
    font-weight: 700;
    color: #2d2d2d;
    border: 0;
    outline: 0;
}
.cts_biz05 .join_group .info .info_box input[type="text"]::placeholder,
.cts_biz05 .join_group .info .info_box input[type="password"]::placeholder{
    font-weight: 400;
    color: #adadad;
}
.cts_biz05 .join_group .info .info_box .user_mail input {
    width: calc(100% - 275px);
}
.cts_biz05 .join_group .info .info_box .user_mail select{
    font-size: 20px;
    width: 140px;
    border: 0;
    outline: 0;
}
.cts_biz05 .join_group .info .info_box .user_gender {
    justify-content: center; /* 좌우 가운데 */
}
.cts_biz05 .join_group .info .info_box .user_gender input {
    display: none;
}
.cts_biz05 .join_group .info .info_box .user_gender label {
    width: calc(50% - 55px);
    margin: 0 20px;
    line-height: 48px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    color: #2d2d2d;
    text-align: center;
}
.cts_biz05 .join_group .info .info_box .user_gender input:checked + label {
    font-weight: 700;
    color: #D20031;
    border: 2px solid #D20031;
}
.cts_biz05 .join_group .info input[type="submit"] {
    width: 100%;
    line-height: 60px;
    background-color: #D20031;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    cursor: pointer; /* 오버시 마우스 포인터 손가락 */
}
@media screen and (max-width:1024px){  
    .cts_biz05 .join_group h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .cts_biz05 .join_group .agree_box {
        height: 200px;
        padding: 10px;
        margin-top: 10px;
    }
    .cts_biz05 .join_group .agree_btn {
        margin: 15px 0 70px 0;
    }
    .cts_biz05 .join_group .agree_btn label::before {
        width: 18px;
        height: 18px;
    }
    .cts_biz05 .join_group .info .info_box {
        border: 2px solid #ccc;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .cts_biz05 .join_group .info .info_box > div {
        height: 60px;
    }
    .cts_biz05 .join_group .info .info_box .user_id label,
    .cts_biz05 .join_group .info .info_box .user_mail label,
    .cts_biz05 .join_group .info .info_box .user_pw label{
        width: 80px;    
    }
    .cts_biz05 .join_group .info .info_box .user_id label {
        background-size: 23px auto;
    }
    .cts_biz05 .join_group .info .info_box .user_mail label {
        background-size: 21px auto;
    }
    .cts_biz05 .join_group .info .info_box .user_pw label {
        background-size: 18px auto;
    }
    .cts_biz05 .join_group .info .info_box .user_id input,
    .cts_biz05 .join_group .info .info_box .user_pw input {
        width: calc(100% - 130px);
    }
    .cts_biz05 .join_group .info .info_box input[type="text"],
    .cts_biz05 .join_group .info .info_box input[type="password"]{
        font-size: 15px;
    }
    .cts_biz05 .join_group .info .info_box .user_mail input {
        width: calc(100% - 210px);
    }
    .cts_biz05 .join_group .info .info_box .user_mail select{
        font-size: 15px;
        width: 110px;
    }
    .cts_biz05 .join_group .info .info_box .user_gender label {
        width: calc(50% - 35px);
        margin: 0 18px;
        line-height: 35px;
        font-size: 15px;
    }
    .cts_biz05 .join_group .info input[type="submit"] {
        line-height: 40px;
        font-size: 15px;
    }
}
.cts_brochure {
    margin: 110px 0 180px 0;
}
.cts_brochure .board_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #ededed;
    height: 80px;
    border-radius: 30px;
    padding: 0 40px;
}
.cts_brochure .board_head .total_num {
    color: #2d2d2d;
}
.cts_brochure .board_head .total_num strong {
    font-weight: 700;
    color: #D20031;
} 
.cts_brochure .board_head .total_num span {
    font-weight: 700;
}
.cts_brochure .board_head .search .inner {
    display: flex; /* 자동으로 들어간 여백 삭제 */
}
.cts_brochure .board_head .search select {
    height: 40px;
    width: 110px;
    padding-left: 10px;
    border: 1px solid #999;
    border-radius: 10px;   
    color: #2d2d2d;
    outline: 0;
}
.cts_brochure .board_head .search label {
    display: none; /* 숨김 */
}
.cts_brochure .board_head .search input[type="text"] {
    width: 350px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 10px;  
    outline: 0;
    margin: 0 7px;
    padding: 0 10px;
}
.cts_brochure .board_head .search input[type="text"]::placeholder {
    color: #adadad;
}
.cts_brochure .board_head .search input[type="submit"] {
    width: 57px;
    height: 40px;
    background-color: #2d2d2d;
    color: #fff;
    border-radius: 10px;
}
@media screen and (max-width:1024px){   
    .cts_brochure {
        margin: 90px 0 150px 0;
    }
    .cts_brochure .board_head {
        display: block;
        height: auto;
        padding: 10px 20px;
        border-radius: 10px;
    }
    .cts_brochure .board_head .search {
        max-width: 530px;
        width: 100%;
        margin: 0 auto;
    }
    .cts_brochure .board_head .search .inner {
        justify-content: center;
    }
    .cts_brochure .board_head .search select {
        width: 100px;
    }
    .cts_brochure .board_head .search input[type="text"] {
        width: calc(100% - 180px);
        height: 40px;
    }
    .cts_brochure .board_head .search input[type="submit"] {
        width: 50px;
    }
    .cts_brochure .board_head .total_num {
        text-align: center;
        margin-top: 10px;
    }
}
.cts_brochure .board_paging {
    border-top: 1px solid #ccc;
    padding-top: 45px;
    display: flex;
    justify-content: center; /* 좌우 가운데 */
    align-items: center; /* 위아래 가운데*/
}
.cts_brochure .board_paging .btn_prev,
.cts_brochure .board_paging .btn_next {
    width: 25px;
    height: 25px;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
}
.cts_brochure .board_paging .btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath id='expand_circle_down_FILL0_wght200_GRAD0_opsz24' d='M132.5-823.627l5.262-5.261-.991-.957-4.271,4.271-4.271-4.271-.991.957Zm0,8.627a12.178,12.178,0,0,1-4.875-.984,12.6,12.6,0,0,1-3.971-2.669,12.646,12.646,0,0,1-2.673-3.969A12.158,12.158,0,0,1,120-827.5a12.184,12.184,0,0,1,.984-4.874,12.615,12.615,0,0,1,2.671-3.971,12.56,12.56,0,0,1,3.967-2.674A12.15,12.15,0,0,1,132.5-840a12.18,12.18,0,0,1,4.875.985,12.627,12.627,0,0,1,3.971,2.67,12.622,12.622,0,0,1,2.673,3.968A12.157,12.157,0,0,1,145-827.5a12.172,12.172,0,0,1-.984,4.875,12.61,12.61,0,0,1-2.671,3.973,12.59,12.59,0,0,1-3.967,2.673A12.164,12.164,0,0,1,132.5-815Zm0-1.388a10.723,10.723,0,0,0,7.882-3.229,10.728,10.728,0,0,0,3.229-7.884,10.723,10.723,0,0,0-3.229-7.881,10.72,10.72,0,0,0-7.882-3.229,10.72,10.72,0,0,0-7.882,3.229,10.723,10.723,0,0,0-3.229,7.881,10.728,10.728,0,0,0,3.229,7.884A10.724,10.724,0,0,0,132.5-816.388ZM132.5-827.5Z' transform='translate(-815 -120) rotate(90)' fill='%236d6d6d'/%3E%3C/svg%3E%0A");
    margin-right: 20px;
}
.cts_brochure .board_paging .btn_next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath id='expand_circle_down_FILL0_wght200_GRAD0_opsz24' d='M12.5,8.627l5.262,5.26-.991.957L12.5,10.574,8.229,14.845l-.991-.957ZM12.5,0A12.183,12.183,0,0,0,7.629.984,12.466,12.466,0,0,0,.985,7.622,12.157,12.157,0,0,0,0,12.5a12.18,12.18,0,0,0,.984,4.874,12.481,12.481,0,0,0,6.638,6.645A12.144,12.144,0,0,0,12.5,25a12.172,12.172,0,0,0,4.875-.986,12.474,12.474,0,0,0,6.644-6.638A12.151,12.151,0,0,0,25,12.5a12.169,12.169,0,0,0-.984-4.875A12.475,12.475,0,0,0,17.378.984,12.169,12.169,0,0,0,12.5,0Zm0,1.388a10.724,10.724,0,0,1,7.882,3.229A10.726,10.726,0,0,1,23.611,12.5a10.723,10.723,0,0,1-3.229,7.881A10.72,10.72,0,0,1,12.5,23.609a10.72,10.72,0,0,1-7.882-3.228A10.724,10.724,0,0,1,1.389,12.5,10.726,10.726,0,0,1,4.618,4.617,10.724,10.724,0,0,1,12.5,1.388ZM12.5,12.5Z' transform='translate(25) rotate(90)' fill='%236d6d6d'/%3E%3C/svg%3E%0A");
    margin-left: 15px;
}
.cts_brochure .board_paging .btn_prev:hover,
.cts_brochure .board_paging .btn_next:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.cts_brochure .board_paging .btn_prev:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath id='expand_circle_down_FILL1_wght200_GRAD0_opsz24' d='M132.5-823.627l5.262-5.262-.991-.956-4.271,4.271-4.271-4.271-.991.956Zm0,8.627a12.184,12.184,0,0,1-4.875-.984,12.632,12.632,0,0,1-3.971-2.671,12.619,12.619,0,0,1-2.673-3.967A12.158,12.158,0,0,1,120-827.5a12.183,12.183,0,0,1,.984-4.875,12.631,12.631,0,0,1,2.671-3.971,12.619,12.619,0,0,1,3.967-2.673A12.158,12.158,0,0,1,132.5-840a12.183,12.183,0,0,1,4.875.984,12.631,12.631,0,0,1,3.971,2.671,12.618,12.618,0,0,1,2.673,3.967A12.158,12.158,0,0,1,145-827.5a12.183,12.183,0,0,1-.984,4.875,12.632,12.632,0,0,1-2.671,3.971,12.618,12.618,0,0,1-3.967,2.673A12.158,12.158,0,0,1,132.5-815Z' transform='translate(-815 -120) rotate(90)' fill='%23fe9a9a'/%3E%3C/svg%3E%0A");
}
.cts_brochure .board_paging .btn_next:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath id='expand_circle_down_FILL1_wght200_GRAD0_opsz24' d='M12.5,8.627l5.262,5.262-.991.956L12.5,10.574,8.229,14.845l-.991-.956ZM12.5,0A12.184,12.184,0,0,0,7.629.984,12.482,12.482,0,0,0,.985,7.622,12.158,12.158,0,0,0,0,12.5a12.183,12.183,0,0,0,.984,4.875,12.482,12.482,0,0,0,6.638,6.644A12.158,12.158,0,0,0,12.5,25a12.183,12.183,0,0,0,4.875-.984,12.482,12.482,0,0,0,6.644-6.638A12.158,12.158,0,0,0,25,12.5a12.183,12.183,0,0,0-.984-4.875A12.482,12.482,0,0,0,17.378.985,12.158,12.158,0,0,0,12.5,0Z' transform='translate(25) rotate(90)' fill='%23fe9a9a'/%3E%3C/svg%3E%0A");
}
.cts_brochure .board_paging .page {
    width: 35px;
    line-height: 35px;
    margin-right: 5px;
    text-align: center;
    background-color: #ededed;
    border-radius: 100%;
    font-size: 18px;
    color: #2d2d2d;
} 
.cts_brochure .board_paging .page.on,
.cts_brochure .board_paging .page:hover {
    background-color: #D20031;
    font-family: 700;
    color: #fff;
}
.cts_brochure .board_paging .page:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width:1024px){ 
    .cts_brochure .board_paging .btn_prev {
        margin-right: 10px;
    }
    .cts_brochure .board_paging .btn_next {
        margin-left: 5px;
    }
    .cts_brochure .board_paging .page {
        width: 30px;
        line-height: 30px;
    }
}
.cts_brochure .board_list {
    margin: 80px 0 10px 0;
}
.cts_brochure .board_list ul {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}
.cts_brochure .board_list ul li {
    width: calc(33.33% - 18.66px);
    margin-bottom: 68px;
}
.cts_brochure .board_list ul li a {
    display: block;
}
.cts_brochure .board_list ul li a .photo {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.cts_brochure .board_list ul li a .photo img {
    width: 100%;
    /* 반응형에서 이미지 태그를 사용해서 이미지를 삽입하면 반드시 width가 필요
    감싸는 요소의 넓이에 %로 들어감 */
    transition: 0.5s;
}
.cts_brochure .board_list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.cts_brochure .board_list ul li a strong {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    display: block;
    margin: 8px 0 8px 0;
    /* 한줄로 제한
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.cts_brochure .board_list ul li a .group {
    display: flex;
}
.cts_brochure .board_list ul li a .group span {
    margin-left: 25px;
    position: relative; /* before 기준*/
    margin-right: 10px;
}
.cts_brochure .board_list ul li a .group span::before {
    position: absolute;
    width: 20px;
    height: 100%;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
}
.cts_brochure .board_list ul li a .group span.count::before {
    left: -25px;
    top: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='13.101' viewBox='0 0 20 13.101'%3E%3Cpath id='visibility_FILL0_wght200_GRAD0_opsz24' d='M93.082-749.767a3.542,3.542,0,0,0,2.607-1.075,3.565,3.565,0,0,0,1.071-2.612,3.54,3.54,0,0,0-1.075-2.607,3.564,3.564,0,0,0-2.611-1.071,3.54,3.54,0,0,0-2.607,1.075,3.564,3.564,0,0,0-1.071,2.612,3.541,3.541,0,0,0,1.075,2.607A3.563,3.563,0,0,0,93.082-749.767Zm0-.961a2.623,2.623,0,0,1-1.927-.794,2.624,2.624,0,0,1-.794-1.927,2.625,2.625,0,0,1,.794-1.927,2.624,2.624,0,0,1,1.927-.794,2.624,2.624,0,0,1,1.927.794,2.625,2.625,0,0,1,.794,1.927A2.624,2.624,0,0,1,95-751.523,2.623,2.623,0,0,1,93.077-750.729Zm0,3.829a10.586,10.586,0,0,1-5.968-1.782,11,11,0,0,1-4.035-4.769,11.006,11.006,0,0,1,4.032-4.768A10.57,10.57,0,0,1,93.074-760a10.583,10.583,0,0,1,5.968,1.782,11,11,0,0,1,4.035,4.768,11.006,11.006,0,0,1-4.032,4.769A10.573,10.573,0,0,1,93.08-746.9ZM93.077-753.45Zm0,5.543a9.621,9.621,0,0,0,5.228-1.5,9.848,9.848,0,0,0,3.641-4.044,9.851,9.851,0,0,0-3.641-4.044,9.621,9.621,0,0,0-5.228-1.5,9.621,9.621,0,0,0-5.228,1.5,9.851,9.851,0,0,0-3.641,4.044,9.848,9.848,0,0,0,3.641,4.044A9.621,9.621,0,0,0,93.077-747.907Z' transform='translate(-83.077 760)' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
    background-size: 20px auto;
}
.cts_brochure .board_list ul li a .group span.date::before  {
    left: -22px;
    top: -1px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='14.813' viewBox='0 0 13 14.813'%3E%3Cpath id='calendar_month_FILL0_wght200_GRAD0_opsz24' d='M161.312-834.418a1.273,1.273,0,0,1-.937-.375,1.275,1.275,0,0,1-.376-.937V-846.1a1.278,1.278,0,0,1,.376-.938,1.277,1.277,0,0,1,.937-.375h1.438v-1.812h.875v1.813h5.812v-1.812h.813v1.813h1.438a1.277,1.277,0,0,1,.937.375,1.278,1.278,0,0,1,.376.938v10.375a1.275,1.275,0,0,1-.376.937,1.273,1.273,0,0,1-.937.375Zm0-.812h10.375a.478.478,0,0,0,.344-.155.478.478,0,0,0,.156-.344v-7.126H160.813v7.126a.478.478,0,0,0,.156.344A.479.479,0,0,0,161.312-835.23Zm-.5-8.437h11.375V-846.1a.476.476,0,0,0-.156-.345.48.48,0,0,0-.344-.156H161.312a.48.48,0,0,0-.344.156.475.475,0,0,0-.156.345Zm0,0v0Zm5.688,3.688a.6.6,0,0,1-.438-.187.6.6,0,0,1-.186-.437.6.6,0,0,1,.186-.438.6.6,0,0,1,.438-.187.6.6,0,0,1,.438.188.6.6,0,0,1,.186.438.6.6,0,0,1-.186.438A.6.6,0,0,1,166.5-839.98Zm-3.25,0a.6.6,0,0,1-.438-.187.6.6,0,0,1-.186-.437.6.6,0,0,1,.186-.438.6.6,0,0,1,.438-.187.6.6,0,0,1,.438.188.6.6,0,0,1,.186.438.6.6,0,0,1-.186.438A.6.6,0,0,1,163.25-839.98Zm6.5,0a.6.6,0,0,1-.438-.187.6.6,0,0,1-.187-.437.6.6,0,0,1,.187-.438.6.6,0,0,1,.438-.187.6.6,0,0,1,.438.188.6.6,0,0,1,.187.438.6.6,0,0,1-.187.438A.6.6,0,0,1,169.75-839.98Zm-3.25,3.126a.6.6,0,0,1-.438-.188.594.594,0,0,1-.186-.437.6.6,0,0,1,.186-.44.609.609,0,0,1,.438-.186.609.609,0,0,1,.438.186.606.606,0,0,1,.186.44.6.6,0,0,1-.186.437A.6.6,0,0,1,166.5-836.854Zm-3.25,0a.6.6,0,0,1-.438-.188.594.594,0,0,1-.186-.437.6.6,0,0,1,.186-.44.609.609,0,0,1,.438-.186.609.609,0,0,1,.438.186.606.606,0,0,1,.186.44.6.6,0,0,1-.186.437A.6.6,0,0,1,163.25-836.854Zm6.5,0a.6.6,0,0,1-.438-.188.6.6,0,0,1-.187-.437.6.6,0,0,1,.187-.44.609.609,0,0,1,.438-.186.609.609,0,0,1,.438.186.606.606,0,0,1,.187.44.6.6,0,0,1-.187.437A.6.6,0,0,1,169.75-836.854Z' transform='translate(-160 849.23)' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
    background-size: 13px auto;
}
@media screen and (max-width:1024px){ 
    .cts_brochure .board_list {
        margin: 60px 0 10px 0;
    }
    .cts_brochure .board_list ul li {
        width: calc(50% - 10px);
        margin-bottom: 30px;
    }
    .cts_brochure .board_list ul li a strong {
        font-size: 15px;
    }
}
@media screen and (max-width:500px){ 
    
    .cts_brochure .board_list ul li {
        width: 100%;
    }
}